#login .pane-content
{
    text-align: center;
}

#login label span {
    margin-left: -100%;
    width: 100%;
    display: inline-block;
}

a[href$="/redirect/google"]
{
    width:150px;
    border-bottom-color:#771100;
    color: #ffffff;
    background:url("../images/menu_new.png") no-repeat left -5500px #DD4433;
    padding-left:30px;
}

a[href$="/redirect/google"]:hover,
a[href$="/redirect/google"]:active,
a[href$="/redirect/google"]:focus {
    background-color: #771100;
    border-bottom-color: #771100;
}

a[href$="/redirect/facebook"]
{
    width:150px;
    border-bottom-color:#224477;
    color: #ffffff;
    background:url("../images/menu_new.png") no-repeat left -5400px #5577AA;
    padding-left:30px;
}

a[href$="/redirect/facebook"]:hover,
a[href$="/redirect/facebook"]:active,
a[href$="/redirect/facebook"]:focus
{
    background-color:#446699;
    border-bottom-color: #224477;
}

.signup-or {
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.signup-or span {
    background: url("../images/noise_darkgray.png") repeat scroll 0 0 #111111;
    border-radius: 4px 4px 4px 4px;
    color: #CCCCCC;
    font-style: italic;
    padding: 3px 20px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
}

a[href="#sign-in-with-email"]
{
    margin-top:10px;
    display:inline-block;
}

#register .first-name,
#register .last-name
{
    margin: 0 -2px;
    padding: 0 2px;
    display: inline-block;
    width: 50%;
}

#login .email,
#login .password
{
    width: auto;
    margin:10px auto;
    max-width: 400px;
    display:none;
}

#login .form-actions
{
    max-width: 400px;
    margin:0 auto;
    display:none;
}

#login .password small
{
    display: none;
    color: #CC0000;
}

#account .password.passwordError small
{
    display: block;
}