#login .pane-content,
#register .pane-content
{
    text-align: center;
}

#login label span {
    margin-left: -100%;
    width: 100%;
    display: inline-block;
}

a[href$="/redirect/google"]
{
    width:150px;
    border-bottom-color:#771100;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -5500px #DD4433;
    padding-left:30px;
}

a[href$="/redirect/google"]:hover,
a[href$="/redirect/google"]:active,
a[href$="/redirect/google"]:focus {
    background-color: #771100;
    border-bottom-color: #771100;
}

a[href$="/redirect/facebook"]
{
    width:150px;
    border-bottom-color:#224477;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -5400px #5577AA;
    padding-left:30px;
}

a[href$="/redirect/facebook"]:hover,
a[href$="/redirect/facebook"]:active,
a[href$="/redirect/facebook"]:focus
{
    background-color:#446699;
    border-bottom-color: #224477;
}

.signup-or {
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.signup-or span {
    background: url("../images/noise_darkgray.png") repeat scroll 0 0 #111111;
    border-radius: 4px 4px 4px 4px;
    color: #CCCCCC;
    font-style: italic;
    padding: 3px 20px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
}

a[href="#sign-in-with-email"]
{
    display:block;
    margin:10px auto;
}

#account .type label span,
#account .password label span,
#account .new-password label span,
#account .email label span,
#account .first-name label span,
#account .last-name label span
{
    width:100%;
    display:inline-block;
    margin-right:-50%;
    padding-right:50%;
}

#account .password label input,
#account .new-password label input,
#account .email label input,
#account .first-name label input,
#account .last-name label input
{
    width:50%;
    display:inline-block;
}

#register .first-name,
#register .last-name
{
    margin: 0 -2px;
    padding-right: 2px;
    display:none;
    width: 50%;
    max-width: 300px;
}

#register .last-name
{
    padding-right:0;
    padding-left:2px;
}

#register .email,
#register .password,
#login .email,
#login .password
{
    width: auto;
    margin: 0 auto;
    max-width: 600px;
    display:none;
}

#register .form-actions,
#login .form-actions
{
    max-width: 600px;
    margin:0 auto;
    display:none;
}

#account .password,
#account .new-password
{
    visibility:hidden;
}

#account .highlighted-link
{
    margin-top: 20px;
}

#account .edit-icons
{
    text-align: left;
}

#account .highlighted-link > *,
#account .edit-icons > *
{
    vertical-align: bottom;
}

#account a[href="#edit-password"],
#account a[href="#edit-account"],
#account a[href="#cancel-confirm"]
{
    display:inline-block;
    margin-right:40px;
    text-align: center;
}

#account a[href="#save-account"]
{
    display: none;
}

#login .form-actions .error,
#register .form-actions .error,
#account .form-actions .error
{
    clear: both;
    position: relative;
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
}

#register .form-actions a[href*="/logout"],
#login .form-actions a[href*="/logout"] {
    max-width: 280px;
    float:left;
    text-align: center;
}

@media all and (max-width: 700px)
{
    #register .first-name, #register .last-name
    {
        margin:0;
        width:100%;
        padding:0;
        max-width: none;
    }

    #account .password label span,
    #account .new-password label span,
    #account .email label span,
    #account .first-name label span,
    #account .last-name label span
    {
        display:block;
        width:auto;
    }

    #account .password label input,
    #account .new-password label input,
    #account .email label input,
    #account .first-name label input,
    #account .last-name label input
    {
        width:100%;
    }
}


