
#calculator h2
{
    margin-right:-120px;
    padding-right:120px;
    display:inline-block;
    width:100%;
}

#calculator a[href="#what-if"] small
{
    font-weight: bold;
}

#calculator a[href="#what-if"] strong
{
    font-size: 20px;
    height: 16px;
    vertical-align: baseline;
    display: inline-block;
    margin-top: -6px;
}

#calculator .cumulative,
#calculator .projected
{
    width:100px;
    z-index: 2;
    position:relative;
    border-radius: 5px;
    background: #09B;
    color:#fff;
    font-weight: bold;
    display:inline-block;
    padding: 5px 0;
    text-align: center;
    margin: 5px 0;
}

#calculator .cumulative + span,
#calculator .projected + span
{
    display:inline-block;
    width:50%;
    z-index: 1;
    position:relative;
    padding: 5px 0 5px 120px;
    margin: 5px 0 5px -104px;
}

#calculator .grade-editor
{
    display:none;
    width: auto;
    font-weight: normal;
    position: relative;
    margin:0;
    padding:0;
}

#calculator .class-row.selected + .grade-editor
{
    display: block;
}

#calculator .class-row.selected + .grade-editor .highlighted-link
{
    padding-left:65px;
    margin-bottom:20px;
}

#calculator .term-editor > .highlighted-link
{
    margin-top:20px;
}

#calculator .term-row .term-editor
{
    display: none;
    width: auto;
    font-weight: normal;
    position: relative;
    overflow: visible;
}

#calculator .term-row.schedule-id- .term-editor
{
    padding-bottom:10px;
}

#calculator .term-row.selected .term-editor
{
    display: block;
}

#calculator .pane-content {
    padding-bottom: 40px;
}

#calculator a[href*="/schedule"]
{
    position:absolute;
    left:0;
    bottom:5px;
}

#calculator a[href="#grade-scale"]
{
    position:absolute;
    left:10px;
    bottom:10px;
}

#calculator .grade-row,
#calculator .class-row,
#calculator .term-row,
#grade-scale table th,
#grade-scale table td
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}

#calculator .term-row:after,
#calculator .class-row:after
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    content: " ";
    display:block;
    position:absolute;
    top: 10px;
    right: -10px;
    left:auto;
    background: url(../images/menu_new_half.png) no-repeat -4px -3px transparent;
    height: 16px;
    width:16px;
    transition: transform ease-in-out .15s, -webkit-transform ease-in-out .15s, -moz-transform ease-in-out .15s, -ms-transform ease-in-out .15s, -o-transform ease-in-out .15s, filter ease-in-out .15s;
}

#calculator .term-row:after
{
    right:10px;
}

#calculator .term-row:hover:not(.selected):not(.edit):after,
#calculator .class-row:hover:not(.selected):not(.edit):after
{
    background-position: -4px -153px;
}

#calculator .term-row.selected:after,
#calculator .class-row.selected:after
{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

#calculator .term-row
{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 0 -20px;
    padding: 0 20px;
}

#calculator .class-row.selected,
#calculator .class-row.selected .class-name input,
#calculator .class-row.selected .hours input,
#calculator .class-row.selected .grade select
{
    font-weight: bold;
}

#calculator .term-row.selected
{
    font-weight: bold;
    background: url(../images/noise_white.png) #FFFFFF;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#calculator .term-row.selected .term-name select
{
    font-weight: bold;
}

#grade-scale table tr:hover th,
#grade-scale table tr:hover td,
#calculator .grade-row:hover,
#calculator .class-row:hover,
#calculator .term-row:hover:not(.selected):not(.edit)
{
    box-shadow: 0 1px 4px rgba(255,255,255,.25);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFF;
}

#calculator .term-row:hover:not(.selected):not(.edit),
#calculator .term-row:hover:not(.selected):not(.edit) .term-name select,
#calculator .class-row:hover:not(.edit) > .score,
#calculator .class-row:hover:not(.edit) > .grade,
#calculator .class-row:hover:not(.edit) > .class-name,
#calculator .class-row:hover:not(.edit) > .hours,
#calculator .class-row:hover:not(.edit) > .gpa,
#calculator .class-row:hover:not(.edit) > .percent,
#calculator .class-row:hover:not(.edit) > .grade select,
#calculator .class-row:hover:not(.edit) > .class-name input,
#calculator .class-row:hover:not(.edit) > .hours input
{
    cursor: pointer;
    color:#00CCEE;
}

#calculator .term-editor > *:first-child,
#calculator .term-row header > *,
#calculator .grade-row > *,
#calculator .class-row > *,
#calculator .term-row > *
{
    vertical-align: middle;
    display:inline-block;
    margin:0 -2px;
    padding: 5px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#calculator .term-row header > *
{
    width: 20%;
}

#calculator .term-row > *
{
    width: 33.33%;
}

#calculator .class-row > *,
#calculator .grade-row > *
{
    width: 15%;
}

#calculator .term-row > .gpa:after
{
    content: " GPA";
}

#calculator .term-row > .hours:after
{
    content: " credit hours";
}

#calculator .grade-row .read-only
{
    width: auto;
}

#calculator .term-row header
{
    display:inline-block;
    width:80%;
    border-bottom: 2px solid #555;
    margin:0 -2px;
    padding-right:54px;
}

#calculator .term-row .grade span
{
    width:30px;
    text-align: left;
    display: inline-block;
    margin-right:-10px;
}

#calculator .term-row .grade label
{
    text-align: center;
}

#calculator .term-row .grade select
{
    width:auto;
    text-align: left;
    display: inline-block;
}

#calculator .term-editor > *:first-child,
#calculator .class-row .class-name
{
    width:20%;
    text-align: left;
}

#calculator .class-row .gpa
{
    width: 20%;
    padding-right:54px;
}

#calculator .grade-row .gpa
{
    width: 20%;
    margin-right:-54px;
    padding-right:54px;
}

#calculator .grade-row .assignment
{
    width:35%;
    padding-left:65px;
    text-align: left;
}

#calculator .term-row ~ .term-row .class-row .class-name i
{
    display:none;
}

#calculator .term-row ~ .term-row .class-row .class-name label
{
    margin-left:0;
    padding-left:0;
}

#calculator .class-row .hours .input,
#calculator .grade-row .percent .input,
#calculator .grade-row .score .input
{
    max-width: 50px;
    margin:0 auto;
}

#calculator .grade-row .percent input,
#calculator .grade-row .score input,
#calculator .class-row .hours input
{
    text-align: center;
}

#calculator .grade-row .read-only,
#calculator .grade-row.edit .read-only,
#calculator .grade-row.edit:hover .read-only
{
    visibility: hidden;
}

#calculator .grade-row:hover .read-only
{
    visibility: visible;
}

#calculator .class-name label
{
    margin-left: -40px;
    padding-left: 40px;
    display: inline-block;
    width: 100%;
}

#calculator .grade-editor .big-add
{
    font-size:16px;
    padding-left:30px;
}

#calculator .grade-editor .big-add span
{
    font-size: 30px;
}

#calculator .schedule-id- a[href*="/schedule"],
#calculator .term-row ~ .term-row a[href*="/schedule"],
#calculator a[href="#add-class"]
{
    display:none;
}

#calculator .term-row ~ .term-row a[href="#add-class"],
#calculator .schedule-id- a[href="#add-class"]
{
    display:inline;
}

#calculator .schedule-id- .term-editor > .highlighted-link [value="#save-grades"]
{
    visibility: visible;
    display:inline-block;
}

#calculator [value="#save-grades"]
{
    visibility: hidden;
}

#calculator .grade-row.edit ~ .highlighted-link [value="#save-grades"]
{
    visibility: visible;
}

#grade-scale .modal-dialog
{
    width:400px;
}

#grade-scale table
{
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}

#grade-scale table th,
#grade-scale table td
{
    width:25%;
    text-align: center;
}

#grade-scale .nav-tabs
{
    margin-top: -15px;
    margin-right: -15px;
}

#calculator .class-row .grade span,
#calculator .class-row .class-name span,
#calculator .class-row .hours span,
#calculator .grade-row .assignment span,
#calculator .grade-row .percent span,
#calculator .grade-row .score span
{
    display:none;
}

#calculator h2 + .highlighted-link
{
    position:absolute;
    top:10px;
    right:10px;
}

#calculator h2 + .highlighted-link a
{
    font-size: 16px;
    padding:10px 10px;
}

#what-if .nav-tabs
{
    margin: -15px -15px 15px -15px;
    float: none;
    width: auto;
    max-width: none;
}

#what-if .nav-tabs>li
{
    width:33.33%;
    text-align: center;
}

#what-if .nav-tabs>li>a
{
    display:block;
}

#what-if .result
{
    padding:3px 10px;
    display:inline-block;
    width:100px;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px;
    background: #09B;
    color:#fff;
    font-weight: bold;
}

#what-if .hours
{
    display: none;
}

#what-if .current-grade
{
    border: 2px solid #09B;
    background-color: #fff;
    border-radius: 5px;
    padding:0 10px;
    display:inline-block;
    margin: 5px 0;
    width:100px;
    font-weight: bold;
}

#what-if .input
{
    display:inline-block;
    width:100px;
    position: relative;
    z-index: 2;
}

#what-if .tab-pane
{
    max-width: 350px;
    margin:0 auto;
    padding: 20px 0;
}

#what-if .description
{
    display:inline-block;
    width:100%;
    padding:5px 0 5px 120px;
    vertical-align: top;
    margin:3px 0 3px -104px;
    position: relative;
    z-index: 0;
    text-align: left;
}

#calculator .over-percent,
#calculator .empty-hours,
#calculator .invalid-only,
#what-if .calc-completed,
#what-if .calc-unk
{
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
    display:none;
}

#calculator .over-percent-error .over-percent,
#calculator .missing-hours .empty-hours,
#calculator.invalid-only .invalid-only,
#what-if.class-completed .calc-completed,
#what-if.grade-incomplete .calc-unk,
#what-if.overall-incomplete .calc-unk,
#what-if.term-incomplete .calc-unk
{
    display:inline-block;
}

#calculator.invalid-only .invalid .class-name input
{
    border-bottom:3px solid #CC0000;
}

@media all and (max-width: 1000px)
{
    #calculator .class-row .hours .input,
    #calculator .grade-row .percent .input,
    #calculator .grade-row .score .input
    {
        max-width: none;
    }

    #calculator .class-row .class-name span
    {
        visibility: hidden;
    }

    #calculator .grade-row .percent input,
    #calculator .grade-row .score input,
    #calculator .class-row .hours input,
    #calculator .grade-row > *,
    #calculator .class-row > *
    {
        text-align: left;
    }

    #calculator .class-row .gpa
    {
        padding-right:2px;
    }

    #calculator .grade-row .read-only
    {
        visibility: visible;
    }

    #calculator .grade-row
    {
        padding-top:10px;
        padding-bottom:10px;
        border-top:1px solid #CCC;
        border-bottom:1px solid #CCC;
    }

    #calculator .class-row.selected + .grade-editor
    {
        padding-top:20px;
    }

    #calculator .class-row.selected + .grade-editor .highlighted-link
    {
        padding-left:0;
        text-align: right;
    }

    #calculator .class-row .grade span,
    #calculator .class-row .class-name span,
    #calculator .class-row .hours span,
    #calculator .grade-row .assignment span,
    #calculator .grade-row .percent span,
    #calculator .grade-row .score span
    {
        display:block;
    }

    #calculator .cumulative + span,
    #calculator .projected + span
    {
        width:100%;
        vertical-align: middle;
    }

    #calculator .term-row > *
    {
        white-space: normal;
    }

    #calculator .term-row > .hours:after
    {
        content: " hours";
    }

    #calculator .term-row header
    {
        width: 65%;
    }

    #calculator .class-row .class-name,
    #calculator .class-row .grade,
    #calculator .grade-row .assignment
    {
        width: 66.66%;
    }

    #calculator .class-row .gpa,
    #calculator .class-row .hours,
    #calculator .grade-row .percent,
    #calculator .grade-row .score,
    #calculator .grade-row .grade,
    #calculator .grade-row .gpa
    {
        width: 33.33%;
    }

    #calculator .grade-row .assignment
    {
        padding-left: 2px;
    }

    #calculator .term-row header,
    #calculator .class-row .percent,
    #calculator .class-row .score
    {
        display:none;
    }

    #calculator .term-row .grade select
    {
        width:100%;
    }

    #calculator .grade-row .gpa:before,
    #calculator .class-row .gpa:before
    {
        content: "GPA";
        display:block;
        font-weight: bold;
        text-align: left;
    }

    #calculator .grade-row .grade:before
    {
        content: "Grade";
        display:block;
        font-weight: bold;
        text-align: left;
    }
}

@media all and (max-width: 700px)
{

    #calculator .term-row:after
    {
        right:5px;
    }

    #calculator .class-row:after
    {
        right: -5px;
    }

    #calculator .term-row
    {
        padding:0 10px;
        margin: 0 -15px;
    }

    #grade-scale .modal-dialog
    {
        width: auto;
    }

    #what-if .nav-tabs>li>a
    {
        padding-left:2px;
        padding-right:2px;
    }
}

