
#checkin .classes {
}

#checkin .pane-content {
    padding-bottom: 40px;
}

#checkin a[href*="/schedule"] {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#checkin .flip-clock-wrapper h4
{
    padding-top:20px;
}

#checkin .flip-clock-wrapper,
#checkin .classes {
    width: 50%;
    display: inline-block;
    margin: 0 -2px;
    text-align: center;
    vertical-align: middle;
    min-height: 400px;
}

.checkin-widget
{
    text-align: center;
}

.checkin-widget > .checkin,
#plan .mini-checkin .checkin,
#checkin .classes a {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
    margin: 25px;
    vertical-align: bottom;
    background: url("../images/classes_textured.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    text-align: center;
    /* color: #FF0D00; */
}

.checkin-widget > a
{
    margin: 20px;
}

.checkin-widget > .checkin span,
#plan .mini-checkin .checkin > span,
#checkin .classes a span {
    display: block;
    max-height: 30px;
    border-radius: 100%;
    margin-top: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkin-widget > .class1,
#plan .checkin1 .mini-checkin .checkin,
#checkin .classes .class1,
#checkin .classes a:nth-child(2)
{
    background-position: 0 -100px;
    /*    color:#FF9900; */
}

.checkin-widget > .class2,
#plan .checkin2 .mini-checkin .checkin,
#checkin .classes .class2,
#checkin .classes a:nth-child(3)
{
    background-position: 0 -200px;
    /*    color:#FFD700; */
}

.checkin-widget > .class3,
#plan .checkin3 .mini-checkin .checkin,
#checkin .classes .class3,
#checkin .classes a:nth-child(4)
{
    background-position: 0 -300px;
    /*    color:#BAF300; */
}

.checkin-widget > .class4,
#plan .checkin4 .mini-checkin .checkin,
#checkin .classes .class4,
#checkin .classes a:nth-child(5)
{
    background-position: 0 -400px;
    /*    color:#2DD700; */
}

.checkin-widget > .class5,
#plan .checkin5 .mini-checkin .checkin,
#checkin .classes .class5,
#checkin .classes a:nth-child(6)
{
    background-position: 0 -500px;
    /*    color:#009999; */
}

.checkin-widget > .class6,
#plan .checkin6 .mini-checkin .checkin,
#checkin .classes .class6,
#checkin .classes a:nth-child(7)
{
    background-position: 0 -600px;
    /*    color:#162EAE; */
}

.checkin-widget > .class7,
#plan .checkin7 .mini-checkin .checkin,
#checkin .classes .class7,
#checkin .classes a:nth-child(8)
{
    background-position: 0 -700px;
    /*    color:#6A0AAB; */
}

.checkin-widget > .class8,
#plan .checkin8 .mini-checkin .checkin,
#checkin .classes .class8,
#checkin .classes a:nth-child(9)
{
    background-position: 0 -800px;
    /*    color:#BE008A; */
}

.checkin-widget > .class0.checked-in,
#plan .checkin0 .mini-checkin .checked-in,
#checkin .classes .class0.checked-in,
#checkin .classes a.checked-in
{
    background-position: -200px 0;
}

.checkin-widget > .class1.checked-in,
#plan .checkin1 .mini-checkin .checkin.checked-in,
#checkin .classes .class1.checked-in,
#checkin .classes a:nth-child(2).checked-in
{
    background-position: -200px -100px;
}

.checkin-widget > .class2.checked-in,
#plan .checkin2 .mini-checkin .checkin.checked-in,
#checkin .classes .class2.checked-in,
#checkin .classes a:nth-child(3).checked-in
{
    background-position: -200px -200px;
}

.checkin-widget > .class3.checked-in,
#plan .checkin3 .mini-checkin .checkin.checked-in,
#checkin .classes .class3.checked-in,
#checkin .classes a:nth-child(4).checked-in
{
    background-position: -200px -300px;
}

.checkin-widget > .class4.checked-in,
#plan .checkin4 .mini-checkin .checkin.checked-in,
#checkin .classes .class4.checked-in,
#checkin .classes a:nth-child(5).checked-in
{
    background-position: -200px -400px;
}

.checkin-widget > .class5.checked-in,
#plan .checkin5 .mini-checkin .checkin.checked-in,
#checkin .classes .class5.checked-in,
#checkin .classes a:nth-child(6).checked-in
{
    background-position: -200px -500px;
}

.checkin-widget > .class6.checked-in,
#plan .checkin6 .mini-checkin .checkin.checked-in,
#checkin .classes .class6.checked-in,
#checkin .classes a:nth-child(7).checked-in
{
    background-position: -200px -600px;
}

.checkin-widget > .class7.checked-in,
#plan .checkin7 .mini-checkin .checkin.checked-in,
#checkin .classes .class7.checked-in,
#checkin .classes a:nth-child(8).checked-in
{
    background-position: -200px -700px;
}

.checkin-widget > .class8.checked-in,
#plan .checkin8 .mini-checkin .checkin.checked-in,
#checkin .classes .class8.checked-in,
#checkin .classes a:nth-child(9).checked-in
{
    background-position: -200px -800px;
}


.checkin-widget > .class0:active,
#plan .checkin0 .mini-checkin .checkin:active,
#checkin .classes .class0:active,
#checkin .classes a:active
{
    background-position: -100px 0;
}

.checkin-widget > .class1:active,
#plan .checkin1 .mini-checkin .checkin:active,
#checkin .classes .class1:active,
#checkin .classes a:active:nth-child(2)
{
    background-position: -100px -100px;
}

.checkin-widget > .class2:active,
#plan .checkin2 .mini-checkin .checkin:active,
#checkin .classes .class2:active,
#checkin .classes a:active:nth-child(3)
{
    background-position: -100px -200px;
}

.checkin-widget > .class3:active,
#plan .checkin3 .mini-checkin .checkin:active,
#checkin .classes .class3:active,
#checkin .classes a:active:nth-child(4)
{
    background-position: -100px -300px;
}

.checkin-widget > .class4:active,
#plan .checkin4 .mini-checkin .checkin:active,
#checkin .classes .class4:active,
#checkin .classes a:active:nth-child(5)
{
    background-position: -100px -400px;
}

.checkin-widget > .class5:active,
#plan .checkin5 .mini-checkin .checkin:active,
#checkin .classes .class5:active,
#checkin .classes a:active:nth-child(6)
{
    background-position: -100px -500px;
}

.checkin-widget > .class6:active,
#plan .checkin6 .mini-checkin .checkin:active,
#checkin .classes .class6:active,
#checkin .classes a:active:nth-child(7)
{
    background-position: -100px -600px;
}

.checkin-widget > .class7:active,
#plan .checkin7 .mini-checkin .checkin:active,
#checkin .classes .class7:active,
#checkin .classes a:active:nth-child(8)
{
    background-position: -100px -700px;
}

.checkin-widget > .class8:active,
#plan .checkin8 .mini-checkin .checkin:active,
#checkin .classes .class8:active,
#checkin .classes a:active:nth-child(9)
{
    background-position: -100px -800px;
}

#checklist ol,
#checklist li
{
    list-style: none;
    margin:0;
    padding:0;
}

#checklist .checkbox
{
    padding-left:40px;
    display:block;
    position:relative;
}

#checklist .checkbox i {
    margin-left: -40px;
    margin-right: 20px;
}

#checkin .minplayer-default-big-play {
    display: block;
    height: 256px;
    width: 170px;
    margin: 0 auto;
    background: url(../images/mozart.png) no-repeat 0 0 transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    border: none;
}

#checkin .minplayer-default-play {
    position: absolute;
    margin-top: -32px;
    top: 50%;
    left: -64px;
    background: url(../images/menu_icons_64.png) no-repeat 0 -2432px transparent;
    height: 64px;
    width: 64px;
    border: 0;
    transition: none;
    cursor: pointer;
}

#checkin .minplayer-default-pause {
    position: absolute;
    margin-top: -32px;
    top: 50%;
    left: -64px;
    background: url(../images/menu_icons_64.png) no-repeat 0 -2368px transparent;
    height: 64px;
    width: 64px;
    border: 0;
    transition: none;
    cursor: pointer;
    display: none;
}

@media all and (max-width:800px)
{
    .checkin-widget > a, #checkin .classes a
    {
        margin: 10px;
    }

    #checkin .flip-clock-wrapper, #checkin .classes
    {
        width: auto;
        display:block;
        min-height: 0;
        margin:20px -10px;
    }
}
