#sds-messages img
{
    display:block;
    height: 128px;
    width:128px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -64px;
    padding-left: 0;
}

#sds-messages .modal-body
{
    padding-left:148px;
}

#checkin .classes {
}

#checkin .pane-content {
    padding-bottom: 40px;
}

#checkin a[href*="/schedule"] {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#checkin .flip-clock-wrapper h4
{
    padding-top:20px;
}

#checkin .flip-clock-wrapper,
#checkin .classes {
    width: 50%;
    display: inline-block;
    margin: 0 -2px;
    text-align: center;
    vertical-align: middle;
    min-height: 400px;
}

.checkin-widget .classes
{
    text-align: center;
}

.checkin-widget .classes .checkin,
.mini-checkin .checkin,
#checkin .classes a {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 25px;
    vertical-align: bottom;
    background: url("../images/classes_textured.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    text-align: center;
    /* color: #FF0D00; */
}

.mini-checkin .checkin
{
    vertical-align: middle;
    margin: 10px;
}

.mini-checkin .flip-counter
{
    display:inline-block;
    width:200px;
    margin: 10px;
    vertical-align: middle;
}

.checkin-widget .classes .checkin
{
    margin: 25px 10px;
}

.checkin-widget .classes .checkin span,
.mini-checkin .checkin > span,
#checkin .classes a span {
    display: block;
    max-height: 30px;
    margin-top: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.checkin-widget .classes .class1,
.mini-checkin .class1,
#checkin .classes .class1,
#checkin .classes a:nth-child(2)
{
    background-position: 0 -100px;
    /*    color:#FF9900; */
}

.checkin-widget .classes .class2,
.mini-checkin .class2,
#checkin .classes .class2,
#checkin .classes a:nth-child(3)
{
    background-position: 0 -200px;
    /*    color:#FFD700; */
}

.checkin-widget .classes .class3,
.mini-checkin .class3,
#checkin .classes .class3,
#checkin .classes a:nth-child(4)
{
    background-position: 0 -300px;
    /*    color:#BAF300; */
}

.checkin-widget .classes .class4,
.mini-checkin .class4,
#checkin .classes .class4,
#checkin .classes a:nth-child(5)
{
    background-position: 0 -400px;
    /*    color:#2DD700; */
}

.checkin-widget .classes .class5,
.mini-checkin .class5,
#checkin .classes .class5,
#checkin .classes a:nth-child(6)
{
    background-position: 0 -500px;
    /*    color:#009999; */
}

.checkin-widget .classes .class6,
.mini-checkin .class6,
#checkin .classes .class6,
#checkin .classes a:nth-child(7)
{
    background-position: 0 -600px;
    /*    color:#162EAE; */
}

.checkin-widget .classes .class7,
.mini-checkin .class7,
#checkin .classes .class7,
#checkin .classes a:nth-child(8)
{
    background-position: 0 -700px;
    /*    color:#6A0AAB; */
}

.checkin-widget .classes .class8,
.mini-checkin .class8,
#checkin .classes .class8,
#checkin .classes a:nth-child(9)
{
    background-position: 0 -800px;
    /*    color:#BE008A; */
}

.checkin-widget .classes .class0.checked-in,
.mini-checkin .checked-in,
#checkin .classes .class0.checked-in,
#checkin .classes a.checked-in
{
    background-position: -200px 0;
}

.checkin-widget .classes .class1.checked-in,
.mini-checkin .class1.checked-in,
#checkin .classes .class1.checked-in,
#checkin .classes a:nth-child(2).checked-in
{
    background-position: -200px -100px;
}

.checkin-widget .classes .class2.checked-in,
.mini-checkin .class3.checked-in,
#checkin .classes .class2.checked-in,
#checkin .classes a:nth-child(3).checked-in
{
    background-position: -200px -200px;
}

.checkin-widget .classes .class3.checked-in,
.mini-checkin .class3.checked-in,
#checkin .classes .class3.checked-in,
#checkin .classes a:nth-child(4).checked-in
{
    background-position: -200px -300px;
}

.checkin-widget .classes .class4.checked-in,
.mini-checkin .class4.checked-in,
#checkin .classes .class4.checked-in,
#checkin .classes a:nth-child(5).checked-in
{
    background-position: -200px -400px;
}

.checkin-widget .classes .class5.checked-in,
.mini-checkin .class5.checked-in,
#checkin .classes .class5.checked-in,
#checkin .classes a:nth-child(6).checked-in
{
    background-position: -200px -500px;
}

.checkin-widget .classes .class6.checked-in,
.mini-checkin .class6.checked-in,
#checkin .classes .class6.checked-in,
#checkin .classes a:nth-child(7).checked-in
{
    background-position: -200px -600px;
}

.checkin-widget .classes .class7.checked-in,
.mini-checkin .class7.checked-in,
#checkin .classes .class7.checked-in,
#checkin .classes a:nth-child(8).checked-in
{
    background-position: -200px -700px;
}

.checkin-widget .classes .class8.checked-in,
.mini-checkin .class8.checked-in,
#checkin .classes .class8.checked-in,
#checkin .classes a:nth-child(9).checked-in
{
    background-position: -200px -800px;
}


.checkin-widget .classes .class0:active,
.mini-checkin .class0:active,
#checkin .classes .class0:active,
#checkin .classes a:active
{
    background-position: -100px 0;
}

.checkin-widget .classes .class1:active,
.mini-checkin .class1:active,
#checkin .classes .class1:active,
#checkin .classes a:active:nth-child(2)
{
    background-position: -100px -100px;
}

.checkin-widget .classes .class2:active,
.mini-checkin .class2:active,
#checkin .classes .class2:active,
#checkin .classes a:active:nth-child(3)
{
    background-position: -100px -200px;
}

.checkin-widget .classes .class3:active,
.mini-checkin .class3:active,
#checkin .classes .class3:active,
#checkin .classes a:active:nth-child(4)
{
    background-position: -100px -300px;
}

.checkin-widget .classes .class4:active,
.mini-checkin .class4:active,
#checkin .classes .class4:active,
#checkin .classes a:active:nth-child(5)
{
    background-position: -100px -400px;
}

.checkin-widget .classes .class5:active,
.mini-checkin .class5:active,
#checkin .classes .class5:active,
#checkin .classes a:active:nth-child(6)
{
    background-position: -100px -500px;
}

.checkin-widget .classes .class6:active,
.mini-checkin .class6:active,
#checkin .classes .class6:active,
#checkin .classes a:active:nth-child(7)
{
    background-position: -100px -600px;
}

.checkin-widget .classes .class7:active,
.mini-checkin .class7:active,
#checkin .classes .class7:active,
#checkin .classes a:active:nth-child(8)
{
    background-position: -100px -700px;
}

.checkin-widget .classes .class8:active,
.mini-checkin .class8:active,
#checkin .classes .class8:active,
#checkin .classes a:active:nth-child(9)
{
    background-position: -100px -800px;
}

#checklist ol,
#checklist li
{
    list-style: none;
    margin:0;
    padding:0;
}

#checklist .checkbox
{
    padding-left:40px;
    display:block;
    position:relative;
}

#checklist .checkbox i {
    margin-left: -40px;
    margin-right: 20px;
}

#checkin .minplayer-default-big-play {
    display: block;
    height: 256px;
    width: 170px;
    margin: 0 auto;
    background: url(../images/mozart.png) no-repeat 0 0 transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    border: none;
}

#checkin .minplayer-default-play {
    position: absolute;
    margin-top: -32px;
    top: 50%;
    left: -64px;
    background: url(../images/menu_icons_64.png) no-repeat 0 -2432px transparent;
    height: 64px;
    width: 64px;
    border: 0;
    transition: none;
    cursor: pointer;
}

#checkin .minplayer-default-pause {
    position: absolute;
    margin-top: -32px;
    top: 50%;
    left: -64px;
    background: url(../images/menu_icons_64.png) no-repeat 0 -2368px transparent;
    height: 64px;
    width: 64px;
    border: 0;
    transition: none;
    cursor: pointer;
    display: none;
}

.checkin-widget h3
{
    position:relative;
}

.checkin-widget .minplayer-default-play,
.checkin-widget .minplayer-default-pause
{
    position:absolute;
    margin-top:0;
    left:auto;
    right:0;
    width:32px;
    height:32px;
    background: url(../images/menu_icons_32.png) no-repeat 0 -1216px transparent;
    transition: none;
    cursor: pointer;
    display: none;
    top:0;
}

.checkin-widget .minplayer-default-pause
{
    background-position: 0 -1184px;
}

#checkin .mobile-only
{
    display:none;
}

@media all and (max-width:800px)
{
    #checkin .full-only
    {
        display:none;
    }

    #checkin .mobile-only
    {
        display:inline;
    }

    #sds-messages .modal-body
    {
        padding-left:15px;
    }

    #sds-messages img
    {
        left:50%;
        opacity: .25;
        margin-left:-64px;
    }

    .checkin-widget .classes a, #checkin .classes a
    {
        margin: 10px;
    }

    #checkin .flip-clock-wrapper, #checkin .classes
    {
        width: auto;
        display:block;
        min-height: 0;
        margin:40px -10px;
    }
}
