
.dashboard-home
{
    /* background: url(../images/grunge.png) repeat fixed 0 0 #555555; */
    background: #555555;
}

.dashboard-home .footer
{
    padding: 0 240px 20px 240px;
}

.panel-pane
{
    display:none;
    margin:0 auto;
    max-width: none;
    width: 100%;
    padding:70px 240px 20px 240px;
    box-sizing: border-box;
}

aside + .panel-pane
{
    display:block;
}

.pane-content
{
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    background: url("../images/noise_gray.png") repeat scroll 0 0 #EEEEEE;
    position: relative;
    border-radius: 5px;
}

.pane-content h4,
.pane-content h2
{
    margin-top:0;
}

#metrics ol span,
#metrics .row .class-name span,
.class-row .class-name i,
#plan .class-name span
{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 0;
    color: #555555;
    line-height: 15px;
    margin: -3px 10px -3px 0;
    vertical-align: top;
}

.fc-event.class0,
.class0 {
    background-color: #FF1100;
}

.fc-event.class1,
.class1
{
    background-color:#FF9900;
}

.fc-event.class2,
.class2
{
    background-color:#FFDD00;
}

.fc-event.class3,
.class3
{
    background-color:#BBEE00;
}

.fc-event.class4,
.class4
{
    background-color:#33DD00;
}

.fc-event.class5,
.class5
{
    background-color:#009999;
}

.fc-event.class6,
.class6
{
    background-color:#1133AA;
}

.fc-event.class7,
.class7
{
    background-color:#6611AA;
}

.fc-event.class8,
.class8
{
    background-color:#BB0088;
}

@media all and (max-width: 1300px)
{
    .panel-pane
    {
        padding-left:20px;
        padding-right:20px;
        max-width: 900px;
    }

    .dashboard-home .footer
    {
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        margin:0 auto;
        max-width: 900px;
    }
}

@media all and (max-width: 1000px) {
    .panel-pane {
        padding-left: 60px;
        padding-right: 60px;
        max-width: none;
    }

    .dashboard-home .footer
    {
        padding-left:60px;
        padding-right:60px;
    }
}

@media all and (min-height: 700px) {
    .panel-pane {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

@media all and (min-width: 1000px) {
    .panel-pane {
        padding-bottom: 20px;
    }
}

@media all and (max-width: 700px)
{
    .panel-pane {
        padding: 60px 10px 10px;
        max-width: 900px;
    }

    .dashboard-home .footer
    {
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
    }

    .pane-content
    {
        padding:10px;
    }
}
