
#deadlines .pane-content
{
    padding-bottom:40px;
}

#deadlines .sort-by {
    vertical-align: top;
    position: relative;
}

#deadlines .sort-by label {
    display: inline-block;
    cursor: pointer;
}

#deadlines .sort-by label:last-child {
    position: absolute;
    right: 0;
    top:0;
}

#deadlines .highlighted-link
{
    margin-bottom:20px;
}

#home .deadlines-widget
{
    padding:0;
}

#home .deadlines-widget h3
{
    margin:0;
}

.deadlines-widget .auto-height
{
    padding-bottom:100%;
    padding-top:15px;
    position:relative;
}

.deadlines-widget .the-list
{
    position:absolute;
    height:100%;
    top:0;
    left:0;
    width:100%;
    overflow: auto;
    padding:10px;
}

.deadlines-widget .deadline-row > *
{
    display:inline-block;
    vertical-align: middle;
    width:33%;
    margin:0 -2px;
}

#deadlines header,
.deadline-row {
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

a[href="#save-deadline"],
#deadlines .deadline-row.edit ~ .form-actions a[href="#add-deadline"]
{
    visibility: hidden;
}

#deadlines .deadline-row.edit ~ .form-actions a[href="#save-deadline"]
{
    visibility: visible;
}

#deadlines .form-actions a[href*="/schedule"] {
    position:absolute;
    bottom:10px;
    left:10px;
}

#deadlines header label:first-child,
.deadline-row .class-name
{
    width:20%;
}

.deadline-row .class-name
{
    padding-left: 40px;
}

.deadline-row.edit .class-name
{
    padding-left: 2px;
}

.deadline-row .class-name i
{
    margin-left: -40px;
}

.deadline-row.edit .class-name i
{
    display:none;
}

#deadlines header label:nth-child(2),
.deadline-row .assignment
{
    width:20%;
}

#deadlines header label:nth-child(3),
.deadline-row .reminder
{
    width:30%;
    white-space: nowrap;
    text-overflow: clip;
}

.deadline-row .reminder label.checkbox {
    display: inline-block;
    width: 20%;
    text-align: center;
    overflow: hidden;
    margin: 0 -2px;
    padding: 0 2px;
}

#deadlines header label:nth-child(4),
.deadline-row .due-date
{
    width:15%;
}

#deadlines header label:nth-child(5),
.deadline-row .percent
{
    width:15%;
    white-space: nowrap;
}

.deadline-row .percent
{
    padding-right: 54px;
    margin-right:-54px;
}

.deadline-row.edit .percent {
    padding-right: 2px;
    margin-right: -2px;
}

.deadline-row label span,
.deadline-row .reminder label:first-child
{
    display:none;
}

#deadlines header label:nth-child(4),
.deadline-row.read-only .due-date
{
    visibility:hidden;
}

.deadline-row.edit .read-only
{
    display:none;
}

#deadlines .head
{
    background-color:#555555;
    color: #eeeeee;
    margin-top:30px;
    padding:5px;
    clear:both;
}

#deadlines header + .head
{
    margin-top:0;
}

#deadlines .head span
{
    display:none;
}

#deadlines .head.historic,
#deadlines .deadline-row.historic
{
    display:none;
}

#deadlines.show-historic .head.historic,
#deadlines.show-historic .deadline-row.historic
{
    display:block;
}

#deadlines .highlighted-link:last-of-type
{
    margin-bottom:-20px;
}

@media all and (max-width:1000px)
{
    #deadlines .deadline-row
    {
        white-space: normal;
    }

    #deadlines .highlighted-link.form-actions
    {
        text-align: right;
    }

    #deadlines header label:nth-child(1),
    .deadline-row .class-name
    {
        width:30%;
    }

    #deadlines header label:nth-child(2),
    .deadline-row .assignment
    {
        width:30%;
    }

    .deadline-row.selected .assignment,
    .deadline-row.edit .assignment
    {
        width: 70%;
    }

    .deadline-row:hover:not(.selected):not(.edit) .assignment input,
    .deadline-row:hover:not(.selected):not(.edit) .class-name select,
    .deadline-row:hover:not(.selected):not(.edit) .percent input,
    .deadline-row:hover:not(.selected):not(.edit) .assignment,
    .deadline-row:hover:not(.selected):not(.edit) .class-name,
    .deadline-row:hover:not(.selected):not(.edit) .percent {
        color: #00CCEE;
        cursor: pointer;
    }

    .deadline-row .reminder
    {
        clear:left;
        width:60%;
    }

    #deadlines header label:nth-child(4),
    .deadline-row .due-date
    {
        width:20%;
    }

    #deadlines header label:nth-child(5),
    .deadline-row .percent
    {
        width:20%;
    }

    #deadlines header label:nth-child(3),
    .deadline-row:not(.selected).read-only .reminder
    {
        display:none;
    }

    .deadline-row.edit label span,
    .deadline-row.edit .reminder label:first-child
    {
        display:block;
    }

    .deadline-row.edit .reminder label:first-child
    {
        margin-bottom:0;
    }
}

@media all and (max-width:700px)
{

    #deadlines header,
    #deadlines .sort-by
    {
        display:none !important;
    }

    .deadline-row.edit > *
    {
        display: block;
    }

    .deadline-row.edit .assignment,
    .deadline-row.edit .class-name,
    .deadline-row.edit .reminder,
    .deadline-row.edit .due-date,
    .deadline-row.edit .percent
    {
        width:auto;
    }

    .deadline-row.edit .percent
    {
        margin-right: 0;
    }
}

@media all and (max-width:500px)
{
    .deadline-row.read-only .due-date
    {
        width:10%;
    }
}