
.modal-content
{
    border: none;
    border-radius: 10px;
}

.modal
{
    height: 100%;
    width:100%;
}

.modal-dialog
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.modal .modal-header
{
    background-color: #0099BB;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    color: #fff;
}

.modal .modal-header a
{
    color:#ffffff;
}

.modal.in .modal-dialog {
    top:50%;
    transform: translate(0, -50%);
}

.close
{
    color:#FFF;
    opacity: .9;
    font-size: 24px;
}

.close:hover, .close:focus
{
    color:#FFF;
    opacity: 1;
}

.dialog
{
    z-index: 99;
    margin: -275px auto 0;
    max-width: 650px;
    padding: 20px;
    background: url("../images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    box-shadow: 0 0 20px rgba(0,0,0,.75);
    border-radius: 10px;
    position: relative;
    text-align: left;
    display: none;
}

.dialog > *:first-child
{
    margin-top:0;
}

.dialog > *:last-child
{
    margin-bottom:0;
}

a[href="#close"]
{
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: url("../images/menu_icons_48.png") no-repeat scroll -10px -730px rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 1103;
    display: block;
    position: absolute;
}

@media all and (max-width:700px), all and (max-height:700px) {
    .modal.in .modal-dialog {
        top: auto;
        margin-top: 70px;
        transform:none;
    }
}

@media all and (max-width:700px)
{
    html, body,
    body.modal-open
    {
        height: 100%;
    }

    body.modal-open .footer
    {
        display:none;
    }

    body.modal-open .panel-pane,
    body.modal-open .pane-content
    {
        max-height: 100%;
        overflow:hidden;
    }

    .modal.in .modal-dialog
    {
        margin-top: 60px;
        margin-left:10px;
        margin-right:10px;
        width:auto;
    }
}
