
.modal-content
{
    border: none;
    border-radius: 10px;
}

.modal
{
    height: 100%;
    width: 100%;
    display:none;
}

.modal-dialog
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.modal .modal-header
{
    background-color: #0099BB;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    color: #fff;
    padding-right:30px;
    font-family: 'Rufina',serif;
    font-size: 18px;
}

.modal .modal-header a
{
    color:#ffffff;
}

.modal-footer
{
    border:0;
    padding-top:0;
}

.modal.in .modal-dialog {
    top:50%;
}

.modal.in .modal-dialog .modal-content
{
    margin-top:-50%;
}

.modal-header .close
{
    color:#FFF;
    opacity: .9;
    font-size: 40px;
    line-height: 30px;
    height: 30px;
    position:relative;
    top:-15px;
    right:-25px;
}

.close:hover, .close:focus
{
    color:#FFF;
    opacity: 1;
}

.dialog
{
    z-index: 99;
    margin: -275px auto 0;
    max-width: 650px;
    padding: 20px;
    background: url("../images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    box-shadow: 0 0 20px rgba(0,0,0,.75);
    border-radius: 10px;
    position: relative;
    text-align: left;
    display: none;
}

.dialog > *:first-child
{
    margin-top:0;
}

.dialog > *:last-child
{
    margin-bottom:0;
}

a[href="#close"]
{
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: url("../images/menu_icons_48.png") no-repeat scroll -10px -730px rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 1103;
    display: block;
    position: absolute;
}

#claim textarea
{
    height: 12em;
}

#claim label.input
{
    padding:0 2px;
    width:50%;
    margin:0 -2px;
    display:inline-block;
    vertical-align: top;
}

#claim .plupload
{
    width:50%;
}

@media all and (max-width:1000px)
{
    body.modal-open
    {
        padding: 0 !important;
    }
}

@media all and (max-width:700px), all and (max-height:700px) {

    body.modal-open
    {
        height: 100%;
        overflow: visible;
    }

    .modal-open .modal
    {
        overflow-y:visible;
        height: auto;
        position:absolute;
        bottom:auto;
    }

    body.modal-open .footer
    {
        display:none;
    }

    body.modal-open .panel-pane,
    body.modal-open .pane-content
    {
        max-height: 100%;
        overflow:hidden;
    }

    .modal.in .modal-dialog {
        top: auto;
        margin-top: 70px;
        transform:none;
    }

    .modal.in .modal-dialog .modal-content
    {
        margin-top:0;
    }
}

@media all and (max-width:700px)
{

    .modal.in .modal-dialog
    {
        margin-top: 60px;
        margin-left:10px;
        margin-right:10px;
        width:auto;
    }
}
