
.guide
{
    list-style: none;
    margin: 0 10% 20px 10%;
    padding: 0;
    display:block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.guide li
{
    margin: 0;
    padding: 0;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 5;
    position: relative;
    width: 120px;
}

.guide li.line
{
    line-height: 1px;
    font-size: 3px;
    width:25%;
    margin-right: -60px;
    margin-left: -60px;
    z-index: 0;
    position: relative;
    border-bottom: 10px solid #555555;
    margin-top:-15px;
}

.guide li > span > span,
.page-title li > span > span
{
    background: url("../images/funnel_compressed.png") no-repeat scroll 0 0 transparent;
    height: 75px;
    width: 75px;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    display: block;
    margin: 0 auto;
    color:transparent;
    text-decoration: none;
}

.guide li:nth-child(3) > span > span
{
    background-position: 0 -75px;
}

.guide li:nth-child(5) > span > span
{
    background-position: 0 -150px;
}

.guide li:nth-child(7) > span > span
{
    background-position: 0 -225px;
}

.guide li > span,
.page-title li > span
{
    text-align: center;
}

#profile .guide li:nth-child(3) > span > span
{
    background-position:-75px -75px;
}

#checkout .guide li:nth-child(1) > span > span
{
    background-position:-75px 0;
}

#schedule .guide li:nth-child(5) > span > span
{
    background-position:-75px -150px;
}

#customization .guide li:nth-child(5) > span > span
{
    background-position:-150px -150px;
}

#customization .guide li:nth-child(2),
#customization .guide li:nth-child(4),
#customization .guide li:nth-child(6),
#schedule .guide li:nth-child(4),
#schedule .guide li:nth-child(2),
#profile .guide li:nth-child(2)
{
    border-bottom: 10px solid #22DD00;
}

#customization .guide li:nth-child(1) > span > span,
#schedule .guide li:nth-child(1) > span > span,
#profile .guide li:nth-child(1) > span > span
{
    background-position:-150px 0;
}

#customization .guide li:nth-child(3) > span > span,
#schedule .guide li:nth-child(3) > span > span
{
    background-position:-150px -75px;
}

#customization .guide li:nth-child(7) > span > span
{
    background-position:-75px -225px;
}

#profile .guide li:nth-child(1) span,
#schedule .guide li:nth-child(1) span,
#schedule .guide li:nth-child(3) span,
#customization .guide li:nth-child(1) span,
#customization .guide li:nth-child(3) span,
#customization .guide li:nth-child(5) span
{
    text-decoration: line-through;
}

#profile .guide li:nth-child(3),
#customization .guide li:nth-child(7),
#schedule .guide li:nth-child(5)
{
    font-weight: bold;
}

@media all and (max-width:760px)
{
    .guide
    {
        margin:0 -25px 20px -25px;
    }

    .guide li
    {
        font-size: 12px;
        width: 90px;
    }

    .guide li > span > span,
    .page-title li > span > span
    {
        background: url("../images/funnel_compressed.png") no-repeat scroll -225px 0 transparent;
        height: 50px;
        width: 50px;
    }

    .guide li.line
    {
        margin-right: -45px;
        margin-left: -45px;
        width:20%;
    }

    .guide li:nth-child(3) > span > span
    {
        background-position: -225px -50px;
    }

    .guide li:nth-child(5) > span > span
    {
        background-position: -225px -100px;
    }

    .guide li:nth-child(7) > span > span
    {
        background-position: -225px -150px;
    }

    #profile .guide li:nth-child(3) > span > span
    {
        background-position:-275px -50px;
    }

    #checkout .guide li:nth-child(1) > span > span
    {
        background-position:-275px 0;
    }

    #schedule .guide li:nth-child(5) > span > span
    {
        background-position:-275px -100px;
    }

    #customization .guide li:nth-child(5) > span > span
    {
        background-position:-325px -100px;
    }

    #customization .guide li:nth-child(1) > span > span,
    #schedule .guide li:nth-child(1) > span > span,
    #profile .guide li:nth-child(1) > span > span
    {
        background-position:-325px 0;
    }

    #customization .guide li:nth-child(3) > span > span,
    #schedule .guide li:nth-child(3) > span > span
    {
        background-position:-325px -50px;
    }

    #customization .guide li:nth-child(7) > span > span
    {
        background-position:-275px -150px;
    }
}

@media all and (max-width:480px)
{

    .guide li.line
    {
        margin-top:-35px;
    }

    .guide li:nth-child(1)
    {
        margin-bottom:20px;
    }

    .guide li:nth-child(3) > span > span
    {
        margin-bottom:20px;
    }

    .guide li:nth-child(5)
    {
        margin-bottom:20px;
    }

    .guide li:nth-child(7) > span > span
    {
        margin-bottom:20px;
    }
}
