
#goals .split-description {
    width: 49%;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#goals .split-description {
    padding-left: 75px;
    position: relative;
    text-align: center;
}

#goals .split-description h3 {
    text-align: center;
}

#goals .split-description p {
    text-align: justify;
}

#goals .big-arrow {
    padding-right: 75px;
    padding-left: 0;
    position: relative;
}

#goals .big-arrow:after {
    display: block;
    content: " ";
    position: absolute;
    height: 128px;
    width: 128px;
    background: url("../images/menu_icons_128.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-position: 0 -2176px;
    top: 50%;
    margin-top: -64px;
    left: 100%;
    margin-left: -64px;
}

#goals header,
#goals .goal-row
{
    padding-top:5px;
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

#goals header > *,
#goals .goal-row > *
{
    vertical-align: top;
    display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: normal;
}

#goals .type,
#goals .reward,
#goals .behavior,
#goals .outcome,
#goals .milestone,
#goals header label
{
    width: 29%;
}

#goals .goal-row .highlighted-link
{
    width:11%;
}

#goals .type {
    background: rgba(0, 0, 0, 0) url("../images/menu_icons_48.png") no-repeat scroll left -576px;
    padding: 12px 10px 14px 68px;
    height: 48px;
    margin-top:-12px;
}

#goals .goal-row:nth-child(2) .type {
    background-position: 10px -624px;
}

#goals .form-actions
{
    text-align:center;
}

#goals .form-actions a[href="#save-goal"]
{
    float:right;
}

#goals .goal-row label .description
{
    display:inline;
}

#goals .form-actions a[href="/partner"]
{
    margin:0 auto;
}


#goals .type strong {
    font-weight: bold;
    display: inline-block;
    background: url("../images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    white-space: nowrap;
}

#goals .edit:not(.read-only) a[href="#goal-edit"],
#goals .edit a[href="#goal-edit"]
{
    display: none;
}

#goals select
{
    width:auto;
}

#goals textarea
{
    height:4em;
    vertical-align: top;
}

#goals .goal-row .reward label
{
    width: 100%;
    display: inline-block;
}

#goals .goal-row.read-only .reward label
{
    padding-right: 50px;
    margin-right: -50px;
}

#goals .goal-row label span
{
    display:none;
}

#achievements .grid_6,
#achievements .grid_3 {
    margin:0 -3px;
}

#achievements .grid_6 strong,
#achievements .grid_3 strong {
    display: block;
    clear: both;
}

#achievements .grid_6 img,
#achievements .grid_3 img {
    float: left;
    margin: 0 auto;
    display: inline-block;
}

#achievements .grid_3 img,
#achievements .grid_3 p,
#achievements .grid_6 img,
#achievements .grid_6 p {
    width:49%;
}

#achievements .grid_6 p,
#achievements .grid_3 p {
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    float: left;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

#achievements .grid_6 img
{
    margin-right:.5%;
}

#achievements .grid_6 p
{
    margin-left:.5%;
    padding-bottom: 49%;
}

#achievements .grid_6 {
    width: 49%;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 400px;
}

#goals .goal-row.edit .read-only
{
    display:none;
}

#goals .goal-row.edit .reward
{
    width:39%;
}

@media all and (max-width:1000px) {

    #goals .split-description {
        width:auto;
        display:block;
        padding-left:0;
        padding-right:0;
    }

    #goals .big-arrow:after
    {
        display:none;
    }

    #goals .type {
        background: url("../images/menu_icons_64.png") no-repeat scroll transparent;
        text-align: center;
        padding: 0 0 48px 0;
        height: 96px;
        background-position: 50% -736px;
        width: auto;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #goals .goal-row {
        padding: 40px 0 0 0;
    }

    #goals .goal-row.read-only label span
    {
        display:inline;
    }

    #goals .goal-row label span
    {
        display:block;
    }

    #goals header
    {
        display:none;
    }

    #goals .type strong {
        font-size: 28px;
        display: inline-block;
        white-space: nowrap;
    }

    #goals .behavior,
    #goals .milestone,
    #goals .outcome,
    #goals .reward
    {
        display: block;
        width: auto;
        max-width: none;
        clear: both;
        text-align: left;
        padding-right: 0;
    }

    #goals .goal-row.edit .reward
    {
        width: auto;
    }

    #goals .goal-row .highlighted-link
    {
        display:block;
    }

    #goals .form-actions a[href="/partner"]
    {
        display:block;
        clear:both;
    }

    #goals .form-actions a[href="#save-goal"]
    {
        float:none;
    }

    #achievements .grid_6 {
        width:auto;
        text-align: center;
    }

    #achievements .grid_3 img,
    #achievements .grid_3 p,
    #achievements .grid_6 img,
    #achievements .grid_6 p {
        vertical-align: bottom;
        text-align: left;
    }

    #goals .goal-row .behavior label,
    #goals .goal-row .milestone label,
    #goals .goal-row .outcome label,
    #goals .goal-row .reward label
    {
        padding-left:80px;
        position:relative;
    }

    #goals .goal-row .reward label span,
    #goals .goal-row .milestone label span,
    #goals .goal-row .outcome label span,
    #goals .goal-row .behavior label span
    {
        position:absolute;
        right:100%;
        margin-right:-70px;

    }
}


