
#goals .split-description {
    width: 49%;
    margin: 0;
    display: inline-block;
}

#goals .split-description {
    padding-left: 75px;
    position: relative;
    text-align: center;
}

#goals .split-description img
{
    width:auto;
    height:60px;
}

#goals .split-description .site-name
{
    font-size: 35px;
    letter-spacing: -3px;
    padding-left: 50px;
    background: url(../images/menu_new_compressed.png) no-repeat left -3495px transparent;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}

#goals .split-description h3 {
    text-align: center;
}

#goals .split-description p {
    text-align: justify;
}

#goals .big-arrow {
    padding-right: 75px;
    padding-left: 0;
    position: relative;
}

#goals .big-arrow:after {
    display: block;
    content: " ";
    position: absolute;
    height: 128px;
    width: 128px;
    background: url("../images/menu_icons_128.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-position: 0 -2176px;
    top: 50%;
    margin-top: -64px;
    left: 100%;
    margin-left: -64px;
}

.goals-widget > div
{
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: normal;
    text-align: left;
    background: rgba(0, 0, 0, 0) url("../images/menu_icons_48.png") no-repeat scroll left -576px;
    padding: 12px 10px 14px 68px;
    height: 48px;
    margin-top:10px;
}

.goals-widget > div:nth-of-type(2) {
    background-position: left -624px;
}

.goals-widget > div:nth-of-type(3) {
    background-position: left -672px;
}

#goals header
{
    padding-top:20px;
    white-space: nowrap;
}

#goals .goal-row
{
    padding-top:5px;
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

#goals header > *,
#goals .goal-row > *
{
    vertical-align: top;
    display:inline-block;
    white-space: normal;
    margin: 0 -2px;
    padding: 0 2px;
}

#goals .type,
#goals .reward,
#goals .behavior,
#goals .outcome,
#goals .milestone,
#goals header label
{
    width: 30%;
}

#goals .reward
{
    width:40%;
}

#goals .type {
    background: rgba(0, 0, 0, 0) url("../images/menu_icons_48.png") no-repeat scroll left -576px;
    padding: 12px 10px 14px 68px;
    height: 48px;
    margin-top:-12px;
}

#goals .goal-row + .goal-row .type
{
    background-position: left -624px;
}

#goals .goal-row + .goal-row + .goal-row .type
{
    background-position: left -672px;
}

#goals .goal-row label .description
{
    display:inline;
}

#goals .pane-content
{
    padding-bottom:40px;
}

#goals .form-actions
{
    margin-bottom: -20px;
    margin-top:20px;
}

#goals .form-actions a[href="/partner"]
{
    position:absolute;
    bottom:10px;
    left:10px;
}


#goals .type strong {
    font-weight: bold;
    display: inline-block;
    background: url("../images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    white-space: nowrap;
}

#goals .edit:not(.read-only) a[href="#goal-edit"],
#goals .edit a[href="#goal-edit"]
{
    display: none;
}

#goals select
{
    width:auto;
}

#goals textarea
{
    height:4em;
    vertical-align: top;
}

#goals .goal-row.read-only .reward
{
    padding-right: 122px;
    margin-right: -122px;
    display: inline-block;
}

#goals .goal-row label span
{
    display:none;
}

#achievements
{
    text-align: left;
}

#achievements .grid_6,
#achievements .grid_3 {
    margin: 0 -2px;
    display: inline-block;
    padding: 0 2px;
    text-align: center;
    vertical-align: top;
}

#achievements .grid_6 strong,
#achievements .grid_3 strong {
    display: block;
    clear: both;
}

#achievements .grid_3 img,
#achievements .grid_3 p
{
    width:100%;
}

#achievements .grid_6 p,
#achievements .grid_3 p {
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    float: left;
    display: inline-block;
    padding: 5px 5px 100% 5px;
    position: relative;
    height: 0;
    text-align: left;
}

#achievements .grid_3 img,
#achievements .grid_6 img
{
    position: absolute;
    height: 100%;
    min-width: 100%;
    max-width: none;
    top: 0;
    left: 0;
}

#achievements .grid_3 .square,
#achievements .grid_6 .square,
#achievements .grid_6 p {
    width: 50%;
    margin: 0 -2px;
    display: inline-block;
    padding: 5px 5px 50%;
    overflow: hidden;
    position: relative;
}

#achievements .grid_3 .square
{
    padding-bottom:100%;
    width:100%;
}

#achievements .grid_6 {
    width: 50%;
    max-width: 400px;
}

#achievements .grid_3 {
    width: 25%;
    max-width: 200px;
}

#goals .goal-row.edit .read-only
{
    display:none;
}

@media all and (max-width:1000px) {

    #goals .goal-row.read-only .highlighted-link
    {
        display:block;
    }

    #goals .split-description {
        width:auto;
        display:block;
        padding-left:0;
        padding-right:0;
    }

    #goals .big-arrow:after
    {
        display:none;
    }

    #goals .type {
        background: url("../images/menu_icons_64.png") no-repeat 50% -736px transparent;
        text-align: center;
        padding: 0 0 48px 0;
        height: 96px;
        width: auto;
        display: block;
    }

    #goals .goal-row + .goal-row .type
    {
        background-position: 50% -800px;
    }

    #goals .goal-row + .goal-row + .goal-row .type
    {
        background-position: 50% -864px;
    }

    #goals .goal-row {
        padding: 40px 0 0 0;
    }

    #goals .goal-row.read-only label span
    {
        display:inline;
    }

    #goals .goal-row label span
    {
        display:block;
    }

    #goals header
    {
        display:none;
    }

    #goals .type strong {
        font-size: 28px;
        display: inline-block;
        white-space: nowrap;
        height: 32px;
    }

    #goals .behavior,
    #goals .milestone,
    #goals .outcome,
    #goals .reward,
    #goals .goal-row.read-only .reward
    {
        display: block;
        width: auto;
        max-width: 100%;
        clear: both;
        text-align: left;
        margin:0;
        padding:0;
    }

    #goals .goal-row.edit .reward
    {
        width: auto;
    }

    #goals .form-actions a[href="/partner"]
    {
        display:block;
        clear:both;
    }

    #goals .form-actions [value="#save-goal"]
    {
        float:none;
    }

    #achievements
    {
        text-align: center;
    }

    #achievements .grid_6 {
        width:auto;
        text-align: center;
    }

    #achievements .grid_3 img,
    #achievements .grid_3 p,
    #achievements .grid_6 img,
    #achievements .grid_6 p {
        vertical-align: bottom;
        text-align: left;
    }

    #goals .goal-row .behavior label,
    #goals .goal-row .milestone label,
    #goals .goal-row .outcome label,
    #goals .goal-row .reward label
    {
        padding-left:80px;
        position:relative;
    }

    #goals .goal-row .reward label span,
    #goals .goal-row .milestone label span,
    #goals .goal-row .outcome label span,
    #goals .goal-row .behavior label span
    {
        position:absolute;
        right:100%;
        margin-right:-70px;
    }
}


