
#metrics {
    text-align: center;
}

#metrics-empty .close
{
    display: none;
}

.metrics-widget .centrify
{
    padding-bottom: 50%;
    position:relative;
}

.metrics-widget h3
{
    margin-top:0;
}

.metrics-widget svg
{
    margin-top:20px;
}

#metrics text,
.metrics-widget text,
#metrics .axis path,
.metrics-widget .axis path
{
    fill: #555555;
    font-size:14px;
}

#metrics svg *
{
    shape-rendering: optimizeQuality;
}

.metrics-widget .timeline svg *,
#metrics #timeline svg *
{
    shape-rendering: crispEdges;
}

#metrics .centrify {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1000px;
    position:relative;
    text-align: left;
    padding-bottom: 35%;
}

#metrics h3
{
    margin-top:0;
}

#metrics h2
{
    margin-bottom:40px;
}

#metrics hr
{
    margin-top:40px;
}

#metrics #legend {
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left:0;
    position:absolute;
}

#metrics ol {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
    text-align: left;
    width: auto;
}

#metrics ol li {
    padding: 5px 0;
    list-style: none;
}

.metrics-widget a[href*="/checkin"]
{
    position:absolute;
    top:42px;
    left:10px;
    right:10px;
    bottom:auto;
    z-index:2;
}

.metrics-widget:not(.empty) a[href*="/checkin"]
{
    display: none;
}

.metrics-widget.empty .timeline,
.metrics-widget.empty .pie-chart
{
    display: none;
}

.metrics-widget .timeline,
.metrics-widget .pie-chart
{
    width: 50%;
    max-width: 400px;
    vertical-align: middle;
    margin:0 -2px;
    position:absolute;
    padding: 0 10px 0 2px;
    height: 100%;
}

.metrics-widget .pie-chart
{
    padding-right:2px;
    padding-left:10px;
}

.metrics-widget .pie-chart
{
    left:50%;
}

#metrics #timeline {
    display: block;
    width: 35%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    position:absolute;
    left:30%;
    top:0;
    height: 100%;
}

#metrics #timeline svg {
      overflow: hidden;
}

#metrics #pie-chart {
    display: block;
    width: 35%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    position:absolute;
    left:65%;
    top:0;
    height: 100%;
}

#metrics .checkin-row {
    vertical-align: top;
}

#metrics .checkin-row .mobile-only
{
    display:none;
}

#metrics .checkin-row .class-name,
#metrics .checkin-row .class-date,
#metrics .checkin-row .class-time
{
    width:33.33%;
    display: inline-block;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0 -2px;
    vertical-align: top;
}

#metrics .checkin-row .class-name {
    text-align: left;
}

#metrics .checkin-row .class-date {
    text-align: center;
}

#metrics .checkin-row .class-time {
    text-align: right;
}

@media all and (max-width:1000px)
{
    #metrics h3
    {
        margin-top:40px;
    }

    #metrics .checkin-row .full-only
    {
        display:none;
    }
    #metrics .checkin-row .mobile-only
    {
        display:inline;
    }

    #metrics .checkin-row .class-name,
    #metrics .checkin-row .class-date,
    #metrics .checkin-row .class-time
    {
        width:33.33%;
    }

    #metrics #legend,
    #metrics #timeline,
    #metrics #pie-chart
    {
        width:auto;
        display:block;
        position:static;
        top:auto;
        left:auto;
    }

    #metrics .centrify
    {
        padding-bottom:0;
        text-align: center;
    }
}

@media all and (max-width:700px)
{
    .metrics-widget .centrify
    {
        margin: 0;
        padding: 0;
    }

    .metrics-widget .timeline, .metrics-widget .pie-chart
    {
        display:block;
        width:auto;
        margin:0 auto;
        position:static;
    }
}