
#metrics {
    text-align: center;
}

#metrics-empty .btn-default,
#metrics-empty .close
{
    display: none;
}

.metrics-widget .centrify
{
    margin: -37.5% auto 0;
    padding-top: 50%;
}

#metrics text,
.metrics-widget text,
#metrics .axis path,
.metrics-widget .axis path
{
    fill: #555555;
}

#metrics .centrify {
    margin: 0 auto;
    display:inline-block;
}

#metrics #legend {
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    margin: 20px -10px 0 -10px;
    padding: 0 10px;
    display: inline-block;
    overflow: hidden;
}

#metrics ol {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
    text-align: left;
    width: auto;
}

#metrics ol li {
    margin: 5px 0;
    list-style: none;
}

.metrics-widget
{
    text-align: center;
}

.metrics-widget .timeline,
.metrics-widget .pie-chart
{
    display: inline-block;
    width: 50%;
    max-width: 400px;
    vertical-align: middle;
    margin:0 -2px;
}

#metrics #timeline {
     display: inline-block;
     width: 50%;
     max-width: 600px;
     margin: 0 -10px;
     padding: 0 10px;
     vertical-align: middle;
     overflow: hidden;
}

#metrics #timeline svg {
      overflow: hidden;
}

#metrics #pie-chart {
    display: inline-block;
    width: 25%;
    margin: 0 -10px;
    padding: 0 10px;
    vertical-align: middle;
    overflow: hidden;
}

#metrics .checkin-row {
    vertical-align: top;
}

#metrics .checkin-row .mobile-only
{
    display:none;
}

#metrics .checkin-row .class-name {
    display: inline-block;
    width: 175px;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
}

#metrics .checkin-row .class-date {
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#metrics .checkin-row .class-time {
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

@media all and (max-width:1000px)
{

    #metrics .checkin-row .full-only
    {
        display:none;
    }
    #metrics .checkin-row .mobile-only
    {
        display:inline;
    }

    #metrics .checkin-row .class-name,
    #metrics .checkin-row .class-date,
    #metrics .checkin-row .class-time
    {
        width:33.33%;
    }

    #metrics #legend,
    #metrics #timeline,
    #metrics #pie-chart
    {
        width:auto;
        display:block;
    }

}

@media all and (max-width:700px)
{
    .metrics-widget .centrify
    {
        margin: 0;
        padding: 0;
    }

    .metrics-widget .timeline, .metrics-widget .pie-chart
    {
        display:block;
        width:auto;
        margin:0 auto;
    }
}