


#notes .class-row
{
    position: relative;
}

#notes .term-row {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin: 0 -20px;
    padding: 0;
    position: relative;
}

#notes .term-row.selected {
    font-weight: bold;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#notes .term-row:not(.selected):not(.edit):hover
{
    background-color: rgba(255,255,255,.50);
}

#notes .term-row .term-editor {
    display: none;
    width: auto;
    font-weight: normal;
    position: relative;
    overflow: visible;
    padding: 0 20px;
    margin-bottom:20px;
}

#notes .term-row.selected .term-editor {
    display: block;
    white-space: normal;
}

#notes .class-row .class-name
{
    width:100%;
    text-align: left;
}

#notes .class-row .class-name label
{
    max-width: 100%;
    width: 400px;
    margin-right: -40px;
    padding-right: 40px;
    display:inline-block;
}

#notes .class-row a[href="#delete-notebook"]
{
    visibility:hidden;
    opacity: 0;
    transition: opacity ease-in-out .15s;
}

/*
#notes .class-row:hover a[href="#delete-notebook"]
{
    visibility: visible;
    opacity: 1;
}
*/

#notes .notes
{
    display:none;
    text-align: left;
    white-space: normal;
    margin: 0 -20px 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#notes .term-editor .big-add {
    font-size: 16px;
    padding-left: 30px;
    float:none;
}

#notes .term-editor .big-add span
{
    font-size: 30px;
}

#notes .notes:last-of-type
{
    margin-bottom:0;
    border-bottom-color: transparent;
}

#notes .class-row.selected + .notes
{
    display:block;
}

#notes .note-row
{
    width: 25%;
    display:inline-block;
    margin: 0 -2px;
    padding: 10px;
    cursor: pointer;
    font-size: 80%;
    vertical-align: top;
}

#notes .note-row h4 a
{
    color:#555;
}

#notes .note-row h4
{
    border: 2px solid transparent;
    margin:0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none #FFF;
    border-bottom: 0;
    font-size: 16px;
}

#notes .note-row .date
{
    color:#888;
    font-weight: bold;
    position:absolute;
    right: 2px;
    top: 0;
}

#notes .term-editor .highlighted-link
{
    text-align: left;
}

#notes .new-study-note .big-add
{
    float:none;
}

#notes .new-study-note
{
    text-align: left;
    padding: 20px 0;
}

#notes .new-study-note a
{
    display:inline-block;
    margin: 0 -2px;
}

#notes .new-study-note .input
{
    display:inline-block;
    margin: 0 -160px 0 -205px;
    padding: 0 165px 0 220px;
    width:100%;
}

#notes .note-row .summary
{
    border: 2px solid transparent;
    border-top: 0;
    padding: 10px;
    height: 150px;
    overflow:hidden;
    position: relative;
    background: none #FFFFFF;
    border-radius: 0 0 5px 5px;
}

#notes .note-row .summary img
{
    width: 100%;
}

#notes .term-row .term-name
{
    width: 100%;
}

#notes .term-row ~ .term-row .term-name
{
    border-top: 2px solid #555;
}

#notes .term-row.selected .term-name
{
    margin-bottom:20px;
}

#notes .note-row:hover h4,
#notes .note-row:hover .summary
{
    border-color: #09B;
}

#notes .term-row:hover:not(.selected):not(.edit),
#notes .term-row:hover:not(.selected):not(.edit) .term-name select,
#notes .class-row:hover:not(.edit) > .class-name,
#notes .class-row:hover:not(.edit) > .class-name input
{
    cursor: pointer;
    color:#00CCEE;
}

#notes .class-row .class-name span
{
    display:none;
}

#notes .term-row header > *,
#notes .term-row > * {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#notes #editor1 ~ .highlighted-link
{
    display:none;
    margin-top:20px;
    margin-bottom:-20px;
}

#notes #editor1
{
    outline: none;
    background-color: #fff;
    margin: 86px -20px;
    padding: 20px;
    min-height: 400px;
    display:none;
}

.cke
{
    opacity: .75;
    transition:opacity ease-in-out .15s;
    z-index: 999 !important;
}

#notes #editor1 h1
{
    font-size: 32px;
}

#notes .note-row h1
{
    font-size: 16px;
}

#notes #editor1 h2
{
    font-size: 24px;
    color: inherit;
}

#notes .note-row h2
{
    font-size: 14px;
    color: inherit;
}

.cke:hover
{
    opacity: 1;
}

#notes .term-row:after,
#notes .class-row:after
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    content: " ";
    display:block;
    position:absolute;
    top: 10px;
    right: -10px;
    left:auto;
    background: url(../images/menu_new_half.png) no-repeat -4px -3px transparent;
    height: 16px;
    width:16px;
    transition: transform ease-in-out .15s, -webkit-transform ease-in-out .15s, -moz-transform ease-in-out .15s, -ms-transform ease-in-out .15s, -o-transform ease-in-out .15s, filter ease-in-out .15s;
}

#notes .term-row:after
{
    right:10px;
}

#notes .term-row:hover:not(.selected):not(.edit):after,
#notes .class-row:hover:not(.selected):not(.edit):after
{
    background-position: -4px -153px;
}

#notes .term-row.selected:after,
#notes .class-row.selected:after
{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

#notes .note-title
{
    margin: 0 -10px;
}

#notes .note-title .input:last-child input
{
    font-size: 22px;
    font-weight: bold;
    color: #09b;
    height: auto;
}

#notes.edit-note h2,
#notes.edit-note .term-row,
#notes.edit-note .new-study-note,
#notes .note-title
{
    display:none;
}

#notes.edit-note .note-title,
#notes.edit-note #editor1,
#notes.edit-note #editor1 ~ .highlighted-link
{
    display:block;
}

#notes .input.books
{
    width:200px;
    display:inline-block;
    position:relative;
    z-index: 2;
}

#notes .input.tags
{
    margin-left:-206px;
    padding-left:206px;
    display:inline-block;
    width:100%;
    position:relative;
    z-index: 1;
}

#notes.edit-note .pane-content
{
    padding-bottom:40px;
}

#notes a[href="#delete-note"]
{
    position:absolute;
    left: 10px;
    bottom: 10px;
    display: inline-block;
    padding-left:30px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#notes a[href="#delete-note"]:hover
{
    background-position: left -1702px;
}

.class-row .class-name i
{

}

#notes-connect a[href*="/redirect/evernote"]
{
    width: auto;
}

#notes-connect .form-actions
{
    text-align: center;
    margin: 40px 0 20px 0;
}

#notes-connect .evernote-name,
#notes-connect .site-name
{
    font-size: 40px;
    letter-spacing: -3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    color: #777777;
    font-family: 'Ubuntu',Arial,sans-serif;
}

#notes-connect .connect-sketch
{
    text-align: center;
    margin: 20px 0;
}

#notes-connect .connect-sketch img,
#notes-connect .site-name img
{
    margin:0 auto;
    display:block;
}

.connect-or {
    text-align: center;
    margin-bottom: 20px;
    clear: both;
    display:inline-block;
    color: #777777;
}

.connect-or span {
    border-radius: 4px 4px 4px 4px;
    padding: 3px 20px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
    font-size: 80px;
}

@media all and (max-width: 1000px)
{

    #notes .note-row
    {
        width:33.33%;
    }

    #notes .new-study-note .input
    {
        margin-left: 0;
        padding-left: 0;
    }
}

@media all and (max-width: 914px)
{
    #notes #editor1
    {
        margin: 120px -20px;
    }
}

@media all and (max-width: 700px)
{

    #cke_14,
    #cke_22,
    #cke_24,
    #cke_28,
    #cke_10
    {
        display:none;
    }

    #notes .note-row
    {
        width:50%;
    }

    #notes-connect .evernote-name,
    #notes-connect .site-name
    {
        display:block;
        width:auto;
    }

    .connect-or
    {
        margin: 20px 0;
    }
}

@media all and (max-width: 500px)
{

    #notes .note-row
    {
        width:100%;
    }

    #notes .new-study-note .input
    {
        margin-right: 0;
        padding-right: 0;
    }

    #notes .new-study-note
    {
        text-align: center;
    }

}


@media all and (max-width: 500px)
{

    #cke_39
    {
        display:none;
    }
}



