


#calculator .class-row,
#calculator .term-row
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}

#notes .term-row {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 0 -20px;
    padding: 0 20px;
}

#notes .term-row.selected {
    font-weight: bold;
    background: url(../images/noise_white.png) #FFFFFF;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#notes .term-row .term-editor {
    display: none;
    width: auto;
    font-weight: normal;
    position: relative;
    overflow: visible;
}

#notes .term-row.selected .term-editor {
    display: block;
    white-space: normal;
}

#notes .class-row .class-name
{
    width:100%;
}

#notes .notes
{
    display:none;
    text-align: left;
    white-space: normal;
    margin: 0 -10px;
}

#notes .class-row.selected + .notes
{
    display:block;
}

#notes .note-row
{
    width: 25%;
    display:inline-block;
    margin: 0 -2px;
    padding: 10px;
}

#notes .note-row h4
{
    margin:0;
    padding: 10px;
    background: #eee;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#notes .note-row .date
{
    color:#888;
    font-weight: bold;
    position:absolute;
    right: 2px;
    top: 0;
}

#notes .note-row .summary
{
    border: 1px solid transparent;
    padding: 10px;
    height: 150px;
    overflow:hidden;
    position: relative;
}

#notes .term-row .term-name
{
    width: 100%;
}

#notes .note-row:hover .summary
{
    border-color: #eee;
}

#notes .term-row:hover:not(.selected):not(.edit),
#notes .term-row:hover:not(.selected):not(.edit) .term-name select,
#notes .class-row:hover:not(.edit) > .class-name,
#notes .class-row:hover:not(.edit) > .class-name input
{
    cursor: pointer;
    color:#00CCEE;
}

#notes .class-row .class-name span
{
    display:none;
}

#notes .term-row header > *,
#notes .term-row > * {
    vertical-align: middle;
    display: inline-block;
    margin: 0 -2px;
    padding: 5px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#notes .highlighted-link
{
    display:none;
    margin-top:20px;
}

#notes #editor1
{
    outline: none;
    background-color: #fff;
    margin: 86px -20px;
    padding: 20px;
    min-height: 400px;
    display:none;
}

.cke
{
    opacity: .75;
    transition:opacity ease-in-out .15s;
}

#notes #editor1 h1,
#notes .note-row h1
{
    font-size: 32px;
}

.cke:hover
{
    opacity: 1;
}

#notes .note-title
{
    margin: 0 -10px;
}

#notes .note-title .input:last-child input
{
    font-size: 22px;
    font-weight: bold;
    color: #09b;
    height: auto;
}

#notes.edit-note h2,
#notes.edit-note .term-row,
#notes.edit-note .new-study-note,
#notes .note-title
{
    display:none;
}

#notes.edit-note .note-title,
#notes.edit-note #editor1,
#notes.edit-note .highlighted-link
{
    display:block;
}

#notes .input.books
{
    width:200px;
    display:inline-block;
    position:relative;
    z-index: 2;
}

#notes .input.tags
{
    margin-left:-206px;
    padding-left:206px;
    display:inline-block;
    width:100%;
    position:relative;
    z-index: 1;
}

.class-row .class-name i
{

}

#notes-connect a[href*="/redirect/evernote"]
{
    width: auto;
}

#notes-connect .form-actions
{
    text-align: center;
    margin: 40px 0 20px 0;
}

#notes-connect a[href="#close"]
{
    display:none;
}

#notes-connect .evernote-name,
#notes-connect .site-name
{
    font-size: 40px;
    letter-spacing: -3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    color: #777777;
    font-family: 'Ubuntu',Arial,sans-serif;
}

#notes-connect .connect-sketch
{
    text-align: center;
    margin: 20px 0;
}

#notes-connect .connect-sketch img,
#notes-connect .site-name img
{
    margin:0 auto;
    display:block;
}

.connect-or {
    text-align: center;
    margin-bottom: 20px;
    clear: both;
    display:inline-block;
    color: #777777;
}

.connect-or span {
    border-radius: 4px 4px 4px 4px;
    padding: 3px 20px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
    font-size: 80px;
}

@media all and (max-width: 1000px)
{

    #notes .note-row
    {
        width:33.33%;
    }
}

@media all and (max-width: 914px)
{
    #notes #editor1
    {
        margin: 120px -20px;
    }
}

@media all and (max-width: 700px)
{

    #notes .note-row
    {
        width:50%;
    }
}

@media all and (max-width: 500px)
{

    #notes .note-row
    {
        width:100%;
    }
}

