
.adviser .fc-agendaDay-button {
    display:none !important;
}

.pane-content a[href*="/plan/pdf"]:not(.more)
{
    background: url(../images/menu_new_compressed.png) no-repeat left -9304px transparent;
    display: inline-block;
    height: 40px;
    width: 40px;
    float:right;
    padding:0;
}

.pane-content a[href*="/plan/pdf"]:not(.more):before {
    display:none;
    padding-left:0;
}

#plan .pane-content
{
    padding-bottom:40px;
}

#plan #calendar
{
    position: relative;
    overflow:visible;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.fc-toolbar
{
    z-index: 10;
    position:relative;
}

#plan a[href="#plan-step-1"]
{
    position:absolute;
    left:10px;
    bottom:10px;
}

#plan.setup-mode a[href="#plan-step-1"]
{
    display:none;
}

#plan.setup-mode ~ #plan-step-1 .highlighted-link:not(.setup-mode),
#plan:not(.setup-mode) ~ #plan-step-1 .highlighted-link.setup-mode,
#plan.setup-mode ~ #plan-step-3 .highlighted-link:not(.setup-mode),
#plan:not(.setup-mode) ~ #plan-step-3 .highlighted-link.setup-mode,
#plan.setup-mode ~ #plan-step-4 .highlighted-link:not(.setup-mode),
#plan:not(.setup-mode) ~ #plan-step-4 .highlighted-link.setup-mode
{
    display:none;
}

.fc-event
{
    border:none;
    background-color: #eeeeee;
    color: #FFFFFF;
}

a.fc-event:not([href])
{
    color: #FFFFFF;
    border: 3px solid transparent;
}

#plan .event-selected
{
    overflow: visible;
    z-index: 10 !important;
}

#plan .event-selected:after
{
    display: block;
    content: " ";
    position: absolute;
    top: -3px;
    left: -82px;
    right: -3px;
    bottom: -3px;
    border: 2px solid #F90;
    border-radius: 3px;
    z-index: 10;
}

#plan .event-selected:before
{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform-origin: left bottom;
    -webkit-transform-origin: center center;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    height: 50px;
    content: " ";
    display: block;
    background: url("../images/menu_new_compressed.png") no-repeat 50% 10px transparent;
    width: 50px;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -25px;
    z-index: 11;
}

.fc-month-view.fc-basic-view tbody .fc-row
{
    height:auto !important;
}

#plan .fc-time-grid-event.fc-short .fc-title,
#plan .fc-title
{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block;
    padding:1px 20px 1px 1px;
    line-height: 110%;
    font-size: inherit;
}

#plan .fc-ltr .fc-time-grid .fc-event-container
{
    margin:2px 5px;
}

#plan .fc-ltr .fc-axis
{
    width: 65px !important;
}

#plan .fc-title h4
{
    margin:0;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    width: auto;
    position: absolute;
    right:2px;
}

#plan .fc-agenda-axis
{
    line-height: 13px;
}

#plan .fc-agenda-slots td div
{
    height:10px;
    line-height: 10px;
}

#plan .fc-slats td
{
    height: 1em;
}

#plan .fc-event.event-type-m
{
    border: 3px solid #FF9900;
    color: #009999;
    /*display:none;*/
}

#plan .fc-event.event-type-z
{
    border: 3px solid #112277;
    color: #1133AA;
    /*display:none;*/
}

#plan .fc-event.event-type-z h4
{
    color: #1133AA;
}

#plan .fc-event.event-type-m h4
{
    color: #FF1100;
}

#plan .event-type-c,
#plan .fc-event.event-type-o
{
    border: 3px solid #555555;
}

#plan .event-type-f .class-name span,
#plan .event-type-h,
#plan .fc-event.event-type-f,
#plan .fc-event.event-type-o
{
    background-color: #555555;
}

#plan .fc-event.event-type-d
{
    border: 3px solid #555555;
    color: #555555;
}

#plan .fc-event.event-type-d .fc-title h4
{
    color: #555555;
}

#plan .event-type-o .class-name span,
#plan .fc-event.event-type-o
{
    background-color: #000000;
}

#plan .drag-event
{
    background-color:#EEEEEE;
}

#plan .fc-title small
{
    display:none;
}

#plan .fc-agenda-slots tr.fc-minor th,
#plan .fc-agenda-slots tr.fc-minor td
{
    border-top-style: none;
}

#plan .fc-event .fc-bg
{
    display:none;
}

#plan .fc-event .fc-time
{
    display:none;
}

.plan-widget .session-row.done:after
{
    display:block;
    content: " ";
    position:absolute;
    top:15px;
    width:100%;
    left:0;
    border-bottom: 1px solid #555555;
}

.plan-widget .session-row
{
    clear:both;
    position: relative;
}

.plan-widget .session-row > *
{
    width:30%;
}

.plan-widget .session-row .class-name
{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plan-widget .session-row .completed
{
    text-align: right;
    width:auto;
}

.plan-widget .session-row .date
{
    text-align: center;
    width:70%;
    margin-right:-30px;
    padding-right:30px;
}

#plan #external-events
{
    display:none;
    width: 160px;
    vertical-align: top;
    z-index: 15;
    position:relative;
    clear:left;
    border: 2px solid #555;
    margin-top:60px;
    padding: 10px;
    border-radius: 5px;
}

#plan.add-events .fc-toolbar .fc-left,
#plan.add-events .fc-toolbar .fc-right,
#plan.setup-mode .fc-toolbar .fc-left,
#plan.setup-mode .fc-toolbar .fc-right
{
    display:none;
}

#plan #external-events .highlighted-link
{
    text-align: center;
}

#plan.add-events #external-events
{
    display:inline-block;
}

#plan.agendaWeek #calendar,
#plan.month #calendar,
#plan.setup-mode #calendar,
#plan.add-events #calendar
{
    width:100%;
}

#plan.setup-mode #calendar .fc-day-grid,
#plan.add-events #calendar .fc-day-grid,
#plan.setup-mode #calendar .fc-head,
#plan.add-events #calendar .fc-head
{
    display:none;
}

#plan.add-events #calendar
{
    display:inline-block;
    margin-left:-166px;
    padding-left:180px;
    width:100%;
    vertical-align: top;
}

#plan.agendaWeek .session-strategy,
#plan.month .session-strategy,
#plan.add-events .session-strategy,
#plan.setup-mode .session-strategy,
#plan.add-events .session-strategy
{
    display:none;
}

#plan.session-selected .mini-checkin
{
    display: block;
}

#plan .session-strategy
{
    display:inline-block;
    width:50%;
    margin: 0 -4px;
    padding: 0 20px;
    vertical-align: top;
}

#plan .session-strategy .duration,
#plan .session-strategy .input
{
    display:inline-block;
    width:100%;
    margin-left:-50%;
    padding-left:50%;
}

#plan .session-strategy h2
{
    margin-bottom: 0;
    font-size: 24px;
    margin-top:100px;
}

#plan .session-strategy .location,
#plan .session-strategy .duration
{
    font-weight: normal;
}

#plan .session-strategy .strategy,
#plan .session-strategy .location
{
    display:inline-block;
    width: 50%;
    margin-right: -8px;
    padding-right: 8px;
}

#plan-step-1 .dialog-tracker li:nth-child(1),
#plan-step-2 .dialog-tracker li:nth-child(2),
#plan-step-2-2 .dialog-tracker li:nth-child(2),
#plan-step-2-3 .dialog-tracker li:nth-child(2),
#plan.setup-mode ~ #plan-step-3 .dialog-tracker li:nth-child(3),
#plan:not(.setup-mode) ~ #plan-step-3 .dialog-tracker li:nth-child(2),
#plan.setup-mode ~ #plan-step-4 .dialog-tracker li:nth-child(4),
#plan:not(.setup-mode) ~ #plan-step-4 .dialog-tracker li:nth-child(3),
#plan-step-5 .dialog-tracker li:nth-child(5),
#plan-step-6 .dialog-tracker li:nth-child(6),
#plan-step-6-2 .dialog-tracker li:nth-child(6)
{
    font-size: 60px;
    color: #0099BB;
}

#plan.setup-mode ~ #plan-step-0 .close,
#plan.setup-mode ~ #plan-step-1 .close,
#plan.setup-mode ~ #plan-step-2 .close,
#plan.setup-mode ~ #plan-step-2-2 .close,
#plan.setup-mode ~ #plan-step-2-3 .close,
#plan.setup-mode ~ #plan-step-3 .close,
#plan.setup-mode ~ #plan-step-4 .close,
#plan ~ #plan-step-5 .close,
#plan ~ #plan-step-6 .close
{
    display:none;
}

#plan .session-strategy .big-add
{
    float:none;
}

#edit-event.class-only .start-time,
#edit-event.class-only .end-time,
#edit-event.class-only .start-date,
#edit-event.class-only .end-date
{
    display:none;
}

#plan .note-row
{
    width: 50%;
    display:inline-block;
    margin: 0 -2px;
    padding: 10px;
    cursor: pointer;
    font-size: 80%;
    vertical-align: top;
}

#plan .note-row h4 a
{
    color:#555;
}

#plan .note-row h4
{
    border: 2px solid transparent;
    margin:0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none #FFF;
    border-bottom: 0;
    font-size: 16px;
}

#plan .note-row .date
{
    color:#888;
    font-weight: bold;
    position:absolute;
    right: 2px;
    top: 0;
}

#plan .note-row .summary
{
    border: 2px solid transparent;
    border-top: 0;
    padding: 10px;
    height: 150px;
    overflow:hidden;
    position: relative;
    background: none #FFFFFF;
    border-radius: 0 0 5px 5px;
}

#plan .note-row .summary img
{
    width: 100%;
}

#plan .note-row:hover h4,
#plan .note-row:hover .summary
{
    border-color: #09B;
}

#edit-event .start-date .input.mobile-only,
#edit-event .end-date .input.mobile-only,
#edit-event .start-time .input.mobile-only,
#edit-event .end-time .input.mobile-only {
    display: none;
}

#plan-mobile .close
{
    display:none;
}


#edit-event .start-time, #edit-event .end-time,
#edit-event .start-date, #edit-event .end-date {
    display:inline-block;
    width: 50%;
    padding: 0 2px;
    margin: 0 -2px;
}

#plan .fc-event
{
    cursor:pointer;
}

#plan #external-events .fc-event
{
    display:block;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    height: 30px;
}

#plan #external-events .fc-event[data-duration="00:30"]
{
    height: 20px;
}

#plan #external-events .fc-event[data-duration="00:45"]
{
    height: 30px;
}

#plan #external-events .fc-event[data-duration="01:00"]
{
    height: 40px;
}

#plan #external-events .fc-event[data-duration="01:30"]
{
    height: 60px;
}

#plan #external-events .fc-event[data-duration="02:00"]
{
    height: 80px;
}

#plan .fc-highlight
{
    background: #09B;
    border: 2px solid #555;
}

#plan a[href="#expand"]
{
    float:left;
    display:block;
    padding-left:40px;
    height:32px;
    line-height: 30px;
    margin:0;
    background: url(../images/menu_icons_32.png) no-repeat 0 -1344px transparent;
}

#plan .mini-checkin
{
    text-align: center;
    position:absolute;
    top:10px;
    right:10px;
    z-index: 10;
}

#plan [class*="strategy-"]
{
    display:none;
}

#plan .selected .strategy-other
{
    padding-right: 0;
    display:block;
}

#plan .selected .field-select-strategy > div
{
    border-bottom:3px solid #555555;
    padding-bottom: 10px;
}

#plan .selected .field-select-strategy
{
    display:block;
    margin-top:30px;
}

#plan .strategy-teach iframe
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
    padding:10px;
    position: relative;
    border-radius: 5px;
    border:3px solid #555555;
}

#plan .strategy-spaced-notes textarea,
#plan .strategy-notes textarea
{
    min-height:100px;
}

#plan .strategy-notes input
{
    width: 100%;
}

#plan .plupload
{
    width:40%;
}

#plan .strategy-notes
{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin:0 -2px;
    padding: 0 2px;
}

#plan .strategy-spaced-notes
{
    display: inline-block;
    width: 66%;
    vertical-align: top;
}

#plan .strategy-review
{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

#plan .strategy-review label.checkbox
{
    display: block;
}

#plan .strategy-prework label.checkbox
{
    padding-left:20px;
}

#plan .strategy-prework label.checkbox i
{
    margin-left:-20px;
}

#plan a[href="#strategy-upload"] span
{
    display:block;
    position: absolute;
    top:25px;
    margin-top:-12px;
    text-align: center;
    width: 100%;
    margin-left:-10px;
}

#plan .field-select-strategy select
{
    float:right;
    width:auto;
}

#plan .field-select-strategy label
{
    display:inline;
}

#plan-step-3 h4,
#plan-step-4 h4,
#plan-step-1 h4
{
    display:inline-block;
    width:100%;
    margin-top:0;
    margin-right:-326px;
    padding:5px 330px 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#555;
}

#plan-step-3 h4
{
    margin-right:-306px;
    padding:5px 300px 5px 0;
}

#plan-step-4 h4
{
    margin-right:-204px;
    padding:5px 200px 5px 0;
}

#plan-step-3 label,
#plan-step-4 label,
#plan-step-1 label
{
    margin:0 -2px;
    padding: 0 2px;
    width:80px;
    text-align: center;
    vertical-align: top;
    display:inline-block;
}

#plan-step-3 label
{
    width:100px;
}

#plan-step-4 label
{
    width:200px;
}

#plan-step-3 label span,
#plan-step-4 label span,
#plan-step-1 label span
{
    display:none;
}

#plan-step-3 header,
#plan-step-4 header,
#plan-step-1 header
{
    width:320px;
    margin-left:auto;
    margin-right:0;
    margin-bottom:10px;
}

#plan-step-3 header
{
    width:300px;
}

#plan-step-4 header
{
    width:200px;
}

#plan-step-3 header > label,
#plan-step-4 header > label,
#plan-step-1 header > label
{
    display: inline-block;
    margin:0 -2px;
    padding: 0 2px;
    vertical-align: bottom;
}

#edit-event .invalid-dates,
#edit-event .invalid-times,
#edit-event .invalid-only,
#plan-step-3 .invalid-only,
#plan-step-4 .invalid-only,
#plan-step-1 .invalid-only
{
    display:none;
    clear: both;
    position: relative;
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
}

#edit-event.invalid-only .invalid-only,
#plan-step-3.invalid-only .invalid-only,
#plan-step-4.invalid-only .invalid-only,
#plan-step-1.invalid-only .invalid-only
{
    display:inline-block;
}

#edit-event.invalid-only.title-required .title input,
#edit-event.invalid-only.start-time-required .start-time input,
#edit-event.invalid-only.end-time-required .end-time input,
#edit-event.invalid-only.start-date-required .start-date input,
#edit-event.invalid-only.end-date-required .end-date input,
#edit-event.invalid-date .start-time input,
#edit-event.invalid-date .end-time input,
#edit-event.invalid-time .start-time input,
#edit-event.invalid-time .end-time input,
#plan-step-3.invalid-only .type-required,
#plan-step-4.invalid-only .type-required,
#plan-step-1.invalid-only .type-required
{
    border-bottom:3px solid #CC0000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#edit-event.invalid-date .invalid-dates,
#edit-event.invalid-time .invalid-times
{
    display:inline-block;
}

#plan-step-0 .modal-body
{
    font-size:20px;
    font-weight:bold;
    line-height: 160%;
}

#plan-step-0 ol
{
    font-weight: normal;
}

#plan-step-6 .google-sync
{
    display:inline-block;
    margin: 0 -2px;
    width: 55%;
    vertical-align: top;
    text-align: center;
    position:relative;
    padding: 10px 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#plan-step-6 .modal-content
{
    background:url("../images/noise_gray.png") repeat scroll 0 0 #EEEEEE;
}

#plan-step-6 .manual-download
{
    display:inline-block;
    margin: 0 -2px;
    width: 45%;
    vertical-align: top;
    text-align: center;
    position:relative;
    padding: 10px 20px 20px;
}

#plan-step-6 .google-sync img
{
    height:100px;
    width:auto;
    display:block;
    margin: 40px auto;
}

#plan-step-6 .manual-download img
{
    height:120px;
    width:auto;
    display:block;
    margin: 30px auto;
}

#plan-step-6 p
{
    margin: 0;
}

#plan-step-6 a
{
    margin-top:20px;
}

#plan-step-6 a[href*="/plan/download"]
{
    display: inline-block;
}

#plan-step-6 a[href*="/redirect/gcal"]
{
    padding-left:40px;
    background-image:none;
}

#plan a[href="#deselect"]
{
    position:absolute;
    width:20%;
    height: 50px;
    display:none;
    top: 10px;
    left: 10px;
}

@media all and (max-width:1000px)
{

    #plan .note-row
    {
        width:50%;
    }

    #plan #calendar
    {
        width:40%;
    }

    #plan .session-strategy
    {
        width:60%;
    }
}

@media all and (max-width:700px)
{

    #plan .fc-toolbar .fc-right .fc-button-group
    {
        display:none;
    }

    #plan.session-selected a[href="#deselect"]
    {
        display: block;
    }

    #plan .mini-checkin
    {
        position:static;
    }


    #plan .session-strategy h2
    {
        margin-top:20px;
    }

    #plan #calendar
    {
        display:block;
        width:auto;
    }

    #plan.session-selected #calendar
    {
        display:none;
    }

    #plan .fc-time-grid-container,
    #plan .fc-scroller
    {
        height: auto !important;
    }

    #plan .session-strategy
    {
        width: auto;
        display:none;
        padding: 0;
    }

    #plan.session-selected .session-strategy
    {
        display:block;
    }

    #plan .strategy-prework,
    #plan .strategy-teach,
    #plan .strategy-active,
    #plan .strategy-spaced,
    #plan .strategy-other,
    #plan .field-select-strategy {
        padding: 0;
    }

    #plan-step-4 label span,
    #plan-step-5 label span,
    #plan-step-1 label span
    {
        display:inline-block;
    }

    #plan-step-4 header,
    #plan-step-5 header,
    #plan-step-1 header
    {
        display: none;
    }

    #plan-step-4 label span br,
    #plan-step-5 label span br,
    #plan-step-1 label span br
    {
        display:none;
    }

    #plan-step-4 label,
    #plan-step-5 label,
    #plan-step-1 label
    {
        display: block;
        width:auto;
        margin:0;
        text-align: right;
    }

    #plan-step-4 h4,
    #plan-step-5 h4,
    #plan-step-1 h4
    {
        text-align: left;
        margin-right:0;
        padding-right:0;
    }
}

@media all and (max-width: 500px)
{
    #plan .note-row
    {
        width:100%;
    }
}