

#plan #calendar
{
    margin-bottom:20px;
    position: relative;
}

.fc-event
{
    border:none;
    background-color: #eeeeee;
    color: #FFFFFF;
}

a.fc-event:not([href])
{
    color: #FFFFFF;
}

#plan .fc-title
{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right:60px;
    line-height: 110%;
}

#plan .fc-time-grid-container
{
    transition: max-height ease-in-out .4s, min-height ease-in-out .4s;
    max-height:2000px;
    min-height:100%;
}

#plan .fc-time-grid-container.fc-scroller
{
    overflow-x:auto;
    max-height:375px;
    min-height:375px;
}

#plan .sort-by {
    vertical-align: top;
    position: relative;
}

#plan .sort-by label {
    display: inline-block;
    cursor: pointer;
}

#plan .sort-by a[href="#expand"],
#plan .sort-by label:last-child {
    float:right;
    vertical-align: middle;
}

#plan .event-type-d .fc-title,
#plan .event-type-h .fc-title,
#plan .event-type-p .fc-title
{
    padding-right:80px;
}

#plan .fc-ltr .fc-time-grid .fc-event-container
{
    margin:2px 5px;
}

#plan .fc-ltr .fc-axis
{
    width: 65px !important;
}

#plan .fc-title h4
{
    margin:0;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    width: auto;
    position: absolute;
    right:0;
}

#plan .fc-agenda-axis
{
    line-height: 13px;
}

#plan .fc-agenda-slots td div
{
    height:10px;
    line-height: 10px;
}

#plan .fc-slats td
{
    height: 1em;
}

#plan .fc-event.event-type-m
{
    border: 3px solid #FF9900;
    color: #009999;
    /*display:none;*/
}

#plan .fc-event.event-type-z
{
    border: 3px solid #112277;
    color: #1133AA;
    /*display:none;*/
}

#plan .fc-event.event-type-z h4
{
    color: #1133AA;
}

#plan .fc-event.event-type-m h4
{
    color: #FF1100;
}

#plan .event-type-c,
#plan .fc-event.event-type-o
{
    border: 3px solid #555555;
}

#plan .event-type-h,
#plan .fc-event.event-type-f,
#plan .fc-event.event-type-o
{
    background-color: #555555;
}

#plan .fc-event.event-type-d
{
    border: 3px solid #555555;
    color: #555555;
}

#plan .fc-event.event-type-d .fc-title h4
{
    color: #555555;
}

#plan .fc-event.event-type-o
{
    background-color: #000000;
}

#plan .drag-event
{
    background-color:#EEEEEE;
}

#plan .fc-title small
{
    display:none;
}

#plan .fc-agenda-slots tr.fc-minor th,
#plan .fc-agenda-slots tr.fc-minor td
{
    border-top-style: none;
}

#plan .fc-event .fc-bg
{
    display:none;
}

#plan .fc-event .fc-time
{
    display:none;
}

#plan .fc-button
{
    background-clip: border-box;
    background-origin: padding-box;
    background: rgb(245, 245, 245) linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230)) repeat-x scroll;
    background-size: auto;
}

#plan .fc-button:hover
{
    background-clip: border-box;
    background-origin: padding-box;
    background: rgb(230, 230, 230) linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230)) repeat-x scroll 0 -15px;
    background-size: auto;
}

#plan .fc-button-group > *.fc-button:active
{
    margin: 0 0 0 -1px;
    box-shadow: none;
}

#plan .fc-button:active
{
    margin: 0 0 0 .75em;
    box-shadow: none;
}

#plan .fc-button.fc-state-disabled
{
    background-image: none;
    background-color: #e6e6e6;
}

#plan .fc-resizer
{
    display: none !important;
}

.plan-widget .session-row
{
    clear:both;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}

#plan .session-row:hover:not(.selected) .assignment,
#plan .session-row:hover:not(.selected) .class-name,
#plan .session-row:hover:not(.selected) .percent,
#plan .session-row:hover:not(.selected) .completed {
    color: #00CCEE;
    cursor: pointer;
}

.plan-widget .session-row > *
{
    width:30%;
}

.plan-widget .session-row .class-name
{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plan-widget .session-row .completed
{
    text-align: right;
    width:auto;
}

.plan-widget .session-row .date
{
    text-align: center;
    width:70%;
    margin-right:-30px;
    padding-right:30px;
}

#plan .session-row
{
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}

#plan .session-row.event-type-d .class-name
{
    background: url('../images/menu_icons_32.png') no-repeat left -1312px transparent;
}

#plan .head.hide,
#plan .session-row.hide
{
    display:none;
}

#plan.show-historic .head.hide,
#plan.show-historic .session-row.hide
{
    display:block;
}

#plan .return-to-top
{
    display: none;
    position: fixed;
    left: 100%;
    margin-left: -250px;
    width: 100px;
    background: url(../images/arrow-up.png) no-repeat 0 0 transparent;
    bottom: 50px;
    text-align: center;
    padding-top: 14px;
    z-index: 96;
    padding-bottom: 6px;
    color: #ffffff;
}

.page-dashboard.adviser-user #plan .return-to-top,
.page-dashboard.partner-user #plan .return-to-top,
.page-dashboard.paid-user #plan .return-to-top
{
    display: block;
}

#plan a[href="#expand"]
{
    float:left;
    display:block;
    padding-left:40px;
    height:32px;
    line-height: 30px;
    margin:0;
    background: url(../images/menu_icons_32.png) no-repeat 0 -1344px transparent;
}

#plan .session-row.expanded a[href="#expand"]
{
    background: url(../images/menu_icons_32.png) no-repeat 0 -1376px transparent;
}

#plan .session-row textarea
{
    min-height: 150px;
}

#plan .session-row.expanded textarea
{
    min-height: 250px;
}

#plan .session-row .class-name
{
    width: 40%;
    padding-left: 70px;
}

#plan .session-row .assignment {
    width: 40%;
}

#plan .session-row .percent {
    width: 20%;
    padding-right: 30px;
    margin-right: -30px;
}

#plan .session-row .completed {
}

#plan .session-row .class-name span {
    margin-left:-40px;
}

#plan .head {
    background-color: #555555;
    color: #eeeeee;
    margin-top: 30px;
    padding: 5px;
    clear: both;
}

#plan .mini-checkin
{
    float:right;
    text-align: center;
    display:none;
}

#plan .selected .mini-checkin
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 235px;
    width:165px;
}

#plan .selected.expanded .mini-checkin
{
    left:auto;
    right:0;
    margin-left:0;
}

#plan .session-row.expanded .strategy-prework,
#plan .session-row.expanded .strategy-teach,
#plan .session-row.expanded .strategy-active,
#plan .session-row.expanded .strategy-spaced,
#plan .session-row.expanded .strategy-other
{
    max-width: none;
}

#plan .strategy-prework,
#plan .strategy-teach,
#plan .strategy-active,
#plan .strategy-spaced,
#plan .strategy-other,
#plan .field-select-strategy
{
    margin:0 auto;
    max-width: 800px;
    display:none;
    padding-right: 165px;
    white-space: normal !important;
}

#plan .selected .strategy-other
{
    padding-right: 0;
    display:block;
}

#plan .selected .field-select-strategy > div
{
    border-bottom:3px solid #555555;
    padding-bottom: 10px;
}

#plan .selected .field-select-strategy
{
    display:block;
    margin-top:30px;
}

#plan .strategy-teach iframe
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
    padding:10px;
    position: relative;
    border-radius: 5px;
    border:3px solid #555555;
}

#plan .strategy-spaced-notes textarea,
#plan .strategy-notes textarea
{
    min-height:100px;
}

#plan .strategy-notes input
{
    width: 100%;
}

#plan .plupload
{
    width:40%;
}

#plan .strategy-notes
{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin:0 -2px;
    padding: 0 2px;
}

#plan .strategy-spaced-notes
{
    display: inline-block;
    width: 66%;
    vertical-align: top;
}

#plan .strategy-review
{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

#plan .strategy-review label.checkbox
{
    display: block;
}

#plan .strategy-prework label.checkbox
{
    padding-left:20px;
}

#plan .strategy-prework label.checkbox i
{
    margin-left:-20px;
}

#plan a[href="#strategy-upload"] span
{
    display:block;
    position: absolute;
    top:25px;
    margin-top:-12px;
    text-align: center;
    width: 100%;
    margin-left:-10px;
}

#plan .field-select-strategy select
{
    float:right;
    width:auto;
}

#plan .field-select-strategy label
{
    display:inline;
}
