

#plan #calendar
{
    margin-bottom:20px;
    position: relative;
    overflow:visible;
}

.fc-toolbar
{
    z-index: 10;
    position:relative;
    display:inline-block;
    margin-bottom:0;
    float:right;
    margin-top:-50px;
}

#plan h2
{
    margin-right: -175px;
    display: inline-block;
    width: 100%;
    padding-right:175px;
}

.fc-event
{
    border:none;
    background-color: #eeeeee;
    color: #FFFFFF;
}

a.fc-event:not([href])
{
    color: #FFFFFF;
}

.fc-month-view .fc-event:not(.event-type-d)
{
    display:none;
}

#plan .fc-time-grid-event.fc-short .fc-title,
#plan .fc-title
{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block;
    padding:1px 20px 1px 1px;
    line-height: 110%;
    font-size: inherit;
}

#plan .fc-time-grid-container
{
    transition: max-height ease-in-out .4s, min-height ease-in-out .4s;
    max-height:2000px;
    min-height:100%;
}

#plan .fc-time-grid-container.fc-scroller
{
    overflow-x:auto;
    max-height:375px;
    min-height:375px;
}

#plan .sort-by {
    vertical-align: top;
    position: relative;
}

#plan .sort-by label {
    display: inline-block;
    cursor: pointer;
}

#plan .sort-by label:last-child {
    float:right;
    vertical-align: middle;
}

#plan .fc-ltr .fc-time-grid .fc-event-container
{
    margin:2px 5px;
}

#plan .fc-ltr .fc-axis
{
    width: 65px !important;
}

#plan .fc-title h4
{
    margin:0;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    width: auto;
    position: absolute;
    right:2px;
}

#plan .fc-agenda-axis
{
    line-height: 13px;
}

#plan .fc-agenda-slots td div
{
    height:10px;
    line-height: 10px;
}

#plan .fc-slats td
{
    height: 1em;
}

#plan .fc-event.event-type-m
{
    border: 3px solid #FF9900;
    color: #009999;
    /*display:none;*/
}

#plan .fc-event.event-type-z
{
    border: 3px solid #112277;
    color: #1133AA;
    /*display:none;*/
}

#plan .fc-event.event-type-z h4
{
    color: #1133AA;
}

#plan .fc-event.event-type-m h4
{
    color: #FF1100;
}

#plan .event-type-c,
#plan .fc-event.event-type-o
{
    border: 3px solid #555555;
}

#plan .event-type-f .class-name span,
#plan .event-type-h,
#plan .fc-event.event-type-f,
#plan .fc-event.event-type-o
{
    background-color: #555555;
}

#plan .fc-event.event-type-d
{
    border: 3px solid #555555;
    color: #555555;
}

#plan .fc-event.event-type-d .fc-title h4
{
    color: #555555;
}

#plan .event-type-o .class-name span,
#plan .fc-event.event-type-o
{
    background-color: #000000;
}

#plan .drag-event
{
    background-color:#EEEEEE;
}

#plan .fc-title small
{
    display:none;
}

#plan .fc-agenda-slots tr.fc-minor th,
#plan .fc-agenda-slots tr.fc-minor td
{
    border-top-style: none;
}

#plan .fc-event .fc-bg
{
    display:none;
}

#plan .fc-event .fc-time
{
    display:none;
}

#plan .fc-toolbar .fc-right
{
    float:none;
}

#plan .fc-resizer
{
    display: none !important;
}

#plan .session-row.done:after, .plan-widget .session-row.done:after
{
    display:block;
    content: " ";
    position:absolute;
    top:15px;
    width:100%;
    left:0;
    border-bottom: 1px solid #555555;
}

.plan-widget .session-row
{
    clear:both;
    position: relative;
}

#plan .session-row:hover:not(.selected) .assignment,
#plan .session-row:hover:not(.selected) .class-name,
#plan .session-row:hover:not(.selected) .percent,
#plan .session-row:hover:not(.selected) .completed {
    color: #00CCEE;
    cursor: pointer;
}

.plan-widget .session-row > *
{
    width:30%;
}

.plan-widget .session-row .class-name
{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plan-widget .session-row .completed
{
    text-align: right;
    width:auto;
}

.plan-widget .session-row .date
{
    text-align: center;
    width:70%;
    margin-right:-30px;
    padding-right:30px;
}

#plan .session-row
{
    clear: both;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    display:none;
}

#plan .session-row.event-type-d .class-name
{
    background: url('../images/menu_icons_32.png') no-repeat left -1312px transparent;
}

#plan .head.hide,
#plan .session-row.hide
{
    display:none;
}

#plan.show-historic .head.historic,
#plan.show-historic .session-row.historic
{
    display:block;
}

#plan a[href="#expand"]
{
    float:left;
    display:block;
    padding-left:40px;
    height:32px;
    line-height: 30px;
    margin:0;
    background: url(../images/menu_icons_32.png) no-repeat 0 -1344px transparent;
}

#plan .session-row.expanded a[href="#expand"]
{
    background: url(../images/menu_icons_32.png) no-repeat 0 -1376px transparent;
}

#plan .session-row textarea
{
    min-height: 150px;
}

#plan .session-row.expanded textarea
{
    min-height: 250px;
}

#plan .session-row .class-name
{
    width: 40%;
    padding-left: 70px;
}

#plan .session-row .assignment {
    width: 40%;
}

#plan .session-row .percent {
    width: 20%;
    padding-right: 30px;
    margin-right: -30px;
}

#plan .session-row .completed {
}

#plan .session-row .class-name span {
    margin-left:-40px;
}

#plan .head {
    background-color: #555555;
    color: #eeeeee;
    margin-top: 30px;
    padding: 5px;
    clear: both;
    display:none;
}

#plan .mini-checkin
{
    float:right;
    text-align: center;
    display:none;
}

#plan .selected .mini-checkin
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 235px;
    width:165px;
}

#plan .selected.expanded .mini-checkin
{
    left:auto;
    right:0;
    margin-left:0;
}

#plan .session-row.expanded .strategy-prework,
#plan .session-row.expanded .strategy-teach,
#plan .session-row.expanded .strategy-active,
#plan .session-row.expanded .strategy-spaced,
#plan .session-row.expanded .strategy-other
{
    max-width: none;
}

#plan .strategy-prework,
#plan .strategy-teach,
#plan .strategy-active,
#plan .strategy-spaced,
#plan .strategy-other,
#plan .field-select-strategy
{
    margin:0 auto;
    max-width: 800px;
    display:none;
    padding-right: 165px;
    white-space: normal !important;
}

#plan .selected .strategy-other
{
    padding-right: 0;
    display:block;
}

#plan .selected .field-select-strategy > div
{
    border-bottom:3px solid #555555;
    padding-bottom: 10px;
}

#plan .selected .field-select-strategy
{
    display:block;
    margin-top:30px;
}

#plan .strategy-teach iframe
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
    padding:10px;
    position: relative;
    border-radius: 5px;
    border:3px solid #555555;
}

#plan .strategy-spaced-notes textarea,
#plan .strategy-notes textarea
{
    min-height:100px;
}

#plan .strategy-notes input
{
    width: 100%;
}

#plan .plupload
{
    width:40%;
}

#plan .strategy-notes
{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin:0 -2px;
    padding: 0 2px;
}

#plan .strategy-spaced-notes
{
    display: inline-block;
    width: 66%;
    vertical-align: top;
}

#plan .strategy-review
{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

#plan .strategy-review label.checkbox
{
    display: block;
}

#plan .strategy-prework label.checkbox
{
    padding-left:20px;
}

#plan .strategy-prework label.checkbox i
{
    margin-left:-20px;
}

#plan a[href="#strategy-upload"] span
{
    display:block;
    position: absolute;
    top:25px;
    margin-top:-12px;
    text-align: center;
    width: 100%;
    margin-left:-10px;
}

#plan .field-select-strategy select
{
    float:right;
    width:auto;
}

#plan .field-select-strategy label
{
    display:inline;
}

#plan-step-4 h4,
#plan-step-5 h4,
#plan-step-1 h4
{
    display:inline-block;
    width:100%;
    margin-top:0;
    margin-right:-326px;
    padding:5px 330px 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#plan-step-4 h4,
#plan-step-5 h4
{
    margin-right:-306px;
    padding:5px 300px 5px 0;
}

#plan-step-4 label,
#plan-step-5 label,
#plan-step-1 label
{
    margin:0 -2px;
    padding: 0 2px;
    width:80px;
    text-align: center;
    vertical-align: top;
    display:inline-block;
}

#plan-step-4 label,
#plan-step-5 label
{
    width:100px;
}

#plan-step-4 label span,
#plan-step-5 label span,
#plan-step-1 label span
{
    display:none;
}

#plan-step-4 header,
#plan-step-5 header,
#plan-step-1 header
{
    width:320px;
    margin-left:auto;
    margin-right:0;
}

#plan-step-4 header,
#plan-step-5 header
{
    width:300px;
}

#plan-step-4 header > label,
#plan-step-5 header > label,
#plan-step-1 header > label
{
    display: inline-block;
    margin:0 -2px;
    padding: 0 2px;
    vertical-align: bottom;
}

#plan-step-4 .invalid-only,
#plan-step-5 .invalid-only,
#plan-step-1 .invalid-only
{
    display:none;
    clear: both;
    position: relative;
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
}

#plan-step-4.invalid-only .invalid-only,
#plan-step-5.invalid-only .invalid-only,
#plan-step-1.invalid-only .invalid-only
{
    display:inline-block;
}

#plan-step-4.invalid-only .type-required,
#plan-step-5.invalid-only .type-required,
#plan-step-1.invalid-only .type-required
{
    border-bottom:3px solid #CC0000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media all and (max-width:1000px)
{
    #plan .selected .mini-checkin
    {
        left:auto;
        right:0;
        margin-left:0;
    }

}

@media all and (max-width:700px)
{
    #plan .sort-by,
    #plan #calendar
    {
        display: none;
    }

    #plan .strategy-prework,
    #plan .strategy-teach,
    #plan .strategy-active,
    #plan .strategy-spaced,
    #plan .strategy-other,
    #plan .field-select-strategy {
        padding: 0;
    }

    #plan .selected .mini-checkin {
        margin: 0 auto;
        display:block;
        position:static;
        float:none;
    }

    #plan-step-4 label span,
    #plan-step-5 label span,
    #plan-step-1 label span
    {
        display:inline-block;
    }

    #plan-step-4 header,
    #plan-step-5 header,
    #plan-step-1 header
    {
        display: none;
    }

    #plan-step-4 label span br,
    #plan-step-5 label span br,
    #plan-step-1 label span br
    {
        display:none;
    }

    #plan-step-4 label,
    #plan-step-5 label,
    #plan-step-1 label
    {
        display: block;
        width:auto;
        margin:0;
        text-align: right;
    }

    #plan-step-4 h4,
    #plan-step-5 h4,
    #plan-step-1 h4
    {
        text-align: left;
        margin-right:0;
        padding-right:0;
    }
}