

#schedule header,
.schedule .class-row
{
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

#schedule .highlighted-link a[href$="/customization"]
{
    position:absolute;
    bottom:10px;
    left:10px;
}

#schedule .highlighted-link:last-of-type {
    margin-bottom: -20px;
}

#schedule .pane-content {
    padding-bottom: 40px;
}

#schedule header
{
    border-bottom: 1px solid #555555;
}

.schedule .class-row
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#schedule .selectize-dropdown .title {
    display: block;
}

#schedule .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

#schedule .selectize-dropdown .description {
    display: block;
    opacity: 0.5;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#schedule .selectize-dropdown .by {
    font-size: 12px;
    opacity: 0.8;
}

#schedule header > label:first-child,
.schedule .class-name
{
    width: 20%;
}

.schedule .class-name
{
    padding-left:40px;
}

.class-row.edit .class-name
{
    padding-left: 2px;
}

.class-row .class-name i
{
    margin-left: -40px;
}

.class-row.edit .class-name i
{
    display:none;
}

#schedule header .day-of-the-week,
.schedule .day-of-the-week
{
    width: 30%;
    white-space: nowrap;
}

#schedule header .day-of-the-week label,
.schedule .day-of-the-week label
{
    display: inline-block;
    width: 14.28%;
    text-align: center;
    overflow: hidden;
    margin: 0 -2px;
    padding: 0 2px;
}

.schedule .class-row label span
{
    display:none;
}

.schedule .read-only .class-name label span
{
    margin-left:-40px;
}

.schedule .class-row .recurring
{
    text-align: center;
}

.schedule .class-row .recurring label
{
    color:inherit;
    width:auto;
}

.schedule .class-row.read-only .recurring input:not(:checked) ~ *
{
    display:none;
}

.schedule .class-row.read-only .recurring input:checked ~ *,
.schedule .class-row.edit .recurring input ~ *
{
    display:inline-block;
}

.schedule .class-row .recurring i
{
    margin-left:5px;
    margin-right:5px;
}

#schedule header > label:nth-child(3),
#schedule header > label:nth-child(4)
{
    width: 25%;
    margin-right:-30px;
}

.schedule .start-time,
.schedule .end-time,
.schedule .start-date,
.schedule .end-date
{
    width: 12.5%;
    padding-right:15px;
    margin-right:-15px;
}

.schedule .edit .start-time,
.schedule .edit .end-time,
.schedule .edit .start-date,
.schedule .edit .end-date
{
    padding-right:2px;
    margin-right:-2px;
}

.schedule .overlaps .start-time input,
.schedule .overlaps .end-time input
{
    border-bottom:3px solid #CC0000;
}

.schedule .start-time .input.mobile-only,
.schedule .end-time .input.mobile-only
{
    display:none;
}

a[href="#add-class"], a[href="#add-other"] {
    position: relative;
    z-index: 0;
    text-shadow: 0 1px 2px rgba(255, 255, 255, .5);
    border-bottom: 0;
    color: #555555;
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    float:left;
    margin-top:20px;
}

a[href="#add-class"] span, a[href="#add-other"] span {
    margin: 0 10px 0 0;
    line-height: 20px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    top:0;
    float: left;
    font-size: 50px;
    vertical-align: middle;
}

#schedule .invalid-times,
#schedule .invalid-only,
#schedule .overlaps-only {
    display:none;
    clear: both;
    position: relative;
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
}

#schedule.invalid-time .invalid-times,
#schedule.invalid-only .invalid-only,
#schedule.overlaps .overlaps-only {
    display:inline-block;
}

.schedule .class-row.overlaps .class-name i
{
    display: none;
}

.schedule .class-row.overlaps .class-name:before,
.schedule .invalid-times:before,
.schedule .invalid-only:before,
.schedule .overlaps-only:before {
    content: " ";
    left: 0;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    display: block;
    clear: both;
    padding-left: 35px;
    background: url('../images/menu_icons_32.png') no-repeat left -1472px transparent;
    position: absolute;
}

#schedule.overlaps .class-name:before,
#schedule.invalid-time .invalid-times:before,
#schedule.invalid-only .invalid-only:before,
#schedule.overlaps .overlaps-only:before {
    display:block;
}

.class-row .read-only
{
    display:none;
}

.class-row.read-only .read-only
{
    display:inline-block;
}

#schedule .selectize-control.single .selectize-input
{
    background-color: transparent;
    border-color: transparent;
}

#schedule .selectize-control.single .selectize-input.focus
{
    background-color: #FFFFFF;
    border-color: #0099BB;
}

@media all and (max-width: 1000px)
{

    .highlighted-link
    {
        text-align: right;
    }

    .schedule .class-row label span
    {
        display:block;
    }

    #schedule header,
    .schedule .class-row
    {
        white-space: normal;
        text-align: left;
    }

    #schedule header
    {
        display:none;
    }

    .schedule .class-name,
    .schedule .day-of-the-week
    {
        width: 50%;
        margin: 0 -2px;
    }

    .schedule .start-time
    {
        clear:left;
    }

    .schedule .start-time,
    .schedule .end-time,
    .schedule .start-date,
    .schedule .end-date
    {
        width: 25%;
    }

}

@media all and (max-width: 500px) {

    .schedule .start-time .input,
    .schedule .end-time .input
    {
        display:none;
    }

    .schedule .start-time .input.mobile-only,
    .schedule .end-time .input.mobile-only
    {
        display:block;
    }

    .schedule .class-name,
    .schedule .day-of-the-week
    {
        width: auto;
        display:block;
        margin: 0;
    }

    .schedule .start-time,
    .schedule .start-date
    {
        clear:left;
    }

    .schedule .start-time,
    .schedule .end-time,
    .schedule .start-date,
    .schedule .end-date
    {
        width: 50%;
        padding-right: 30px;
        margin-right:-30px;
    }

    .schedule .edit .start-time,
    .schedule .edit .end-time,
    .schedule .edit .start-date,
    .schedule .edit .end-date
    {
        padding-right: 2px;
        margin-right:-2px;
    }
}