.landing-home .page-top
{
    background: url("../images/noise_gray.png") repeat scroll 0 0 #ffffff;
    text-align: center;
}

.landing-home .page-top h1
{
    margin-top:30px;
}

.landing-home .scr
{
    margin: 0 auto;
    max-width: 960px;
    text-align: justify;
    padding:0 20px;
}

.landing-home .scr h3
{
    white-space: nowrap;
    width:100%;
}

.landing-home .scr .grid_6
{
    width: 50%;
    margin: 0 -2px;
    display:inline-block;
    vertical-align: middle;
    padding:0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

.landing-home .scr .grid_6 img {
    width: 100%;
}

.landing-home .scr .grid_6 p
{
    text-align: justify;
}

.landing-home .scr .swap > *
{
    vertical-align: middle;
    position:relative;
    left:-50%;
}

.landing-home .scr .swap .grid_6:first-child
{
    clear: left;
    position:relative;
    left:50%;
}

.landing-home .scr .swap + .grid_6
{
    clear: both;
}


.landing-home .scr .highlighted-link {
    margin-bottom: 40px;
}

@media all and (max-width:700px)
{
    .landing-home .scr .swap .grid_6:first-child,
    .landing-home .scr .grid_6
    {
        width:auto;
        display:block;
        padding: 0;
        position:static;
        left:auto;
    }

    .landing-home .scr .grid_6 img
    {
        max-width: 50%;
        margin:0 auto;
    }

    .landing-home .scr
    {
        padding:0 10px;
    }
}