.landing-home .testimonials
{
    background: url("../images/noise_gray.png") repeat scroll 0 0 #FFFFFF;
}

.landing-home .testimonials h1
{
    margin-top:30px;
}

.landing-home .testimony
{
    margin:0 auto;
    max-width: 960px;
    padding:0 20px;
}

.landing-home .testimony-inner:nth-of-type(1),
.landing-home .testimony-inner:nth-of-type(2)
{
    width: 50%;
}

.landing-home .testimony-inner
{
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    padding: 20px 12px 20px 76px;
    position:relative;
    width:33.33%;
    display:inline-block;
    margin: 0 -2px 40px -2px;
}

.landing-home .testimony-inner img
{
    height: 58px;
    width: 58px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -29px;
}

.landing-home .testimony-inner p:first-of-type
{
    font-style: italic;
    font-weight: bold;
}

.landing-home .testimony-inner .author
{
    float:right;
}

@media all and (max-width:700px)
{
    .landing-home .testimony
    {
        padding:0 10px;
    }
}