.landing-home .video {
    text-align: center;
    position:relative;
    overflow:hidden;
    background: url(../images/SMU_blur.jpg) fixed no-repeat 50% -50px #999999;
}

.landing-home .video > img {
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
    max-width: none;
}

.landing-home .video h1 {
    color: #FFFFFF;
    padding: 10px;
    margin: 20px 0 70px 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Rufina',serif;
}

.landing-home .video .slides
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.landing-home .video .slides li
{
    display: block;
    position: relative;
}

.landing-home .video .slides .highlighted-link
{
    text-align: center;
    width:39%;
    padding:0;
    overflow:visible;
    display:inline-block;
    margin:0 -2px;
    vertical-align: middle;
}

.landing-home .video .slides .highlighted-link p {
    width: 100%;
    padding-top: 20px;
    position: relative;
}

.landing-home .video .player-divider
{
    margin: 0 -2px;
    width:59%;
    display:inline-block;
    vertical-align: middle;
}

.landing-home .flexslider {
    box-shadow: none;
    display: block;
    padding: 0 20px 120px 20px;
    text-align: center;
    background: url(../images/down_arrow_solid.png) no-repeat 50% bottom transparent;
    max-width: 940px;
    margin: 0 auto 40px auto;
}

.landing-home .video .highlighted-link a:last-child
{
    color: #ffffff;
    padding: 8px 30px;
    margin-left: -25px;
    display: inline-block;
    clear: both;
    text-shadow: 1px 2px 3px rgba(0,0,0,.5);
    font-weight: bold;
}

.landing-home .video .highlighted-link span:last-of-type
{
    color: #ffffff;
}

@media all and (max-width:700px)
{

    .landing-home .flexslider
    {
        padding-bottom: 80px;
    }

    .landing-home .video {
        background-image: url(../images/SMU_blur_small.jpg);
    }

    .landing-home .video .slides .highlighted-link
    {
        float:none;
        display:block;
        width:auto;
        max-width: 400px;
        position:absolute;
        bottom:0;
        left:50%;
        margin:0 0 0 -95px;
    }

    .landing-home .video h1
    {
        margin-bottom:30px;
    }

    .landing-home .video .slides li
    {
        padding-bottom:150px;
    }

    .landing-home .video .slides .highlighted-link p
    {
        padding-top: 40px;
    }

    .landing-home .video .player-divider
    {
        width: 100%;
        max-width: 400px;
    }

}