
#admin .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
}

#admin .paginate {
    display: inline-block;
    width: 300px;
    margin: 0 -4px;
    padding: 0 2px;
    vertical-align: middle;
    text-align: center;
}

#admin .paginate label {
    margin: 0 -50px;
    padding: 0 50px;
    display: inline-block;
}

#admin .paginate input {
    margin-right: -50px;
    padding-right: 50px;
    display:inline-block;
}

#admin .count-bubble
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
    margin: 20px;
    position: relative;
    padding: 30px 0 10px 0;
    display: inline-block;
}

#admin .count-bubble i
{
    font-size: 48px;
    line-height: 110%;
    width:100%;
    display:inline-block;
    text-align: center;
}

#admin .count-bubble small
{
    position:absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left:0;
    padding-top:10px;

}

#admin a[href*="_switch_user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4002px transparent;
}

#admin a[href*="_switch_user"]:hover
{
    background-position: left -4052px;
}

#admin a[href="#confirm-password-reset"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -3902px transparent;
}

#admin a[href="#confirm-password-reset"]:hover
{
    background-position: left -3952px;
}

#group-manager a[href="#edit-group"],
#admin a[href="#edit-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#group-manager a[href="#edit-group"]:hover,
#admin a[href="#edit-user"]:hover
{
    background-position: left -1602px;
}

#admin a[href="#confirm-remove-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#admin a[href="#confirm-remove-user"]:hover
{
    background-position: left -1702px;
}

#admin a[href="#confirm-cancel-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1102px transparent;
}

#admin a[href="#confirm-cancel-user"]:hover
{
    background-position: left -1152px;
}

#right-panel .main-menu a[href*="/command"] span
{
    background-position: left -4905px;
}

#right-panel .main-menu a[href*="/command"]:hover span,
#right-panel .main-menu a[href*="/command"]:focus span,
#right-panel .main-menu a[href*="/command"]:active span,
#right-panel .main-menu a[href*="/command"].active span {
    background-position: left -5005px;
}


#admin .edit a[href="#confirm-remove-user"],
#admin .edit a[href="#confirm-cancel-user"],
#admin .edit a[href="#edit-user"],
#admin .edit a[href="#confirm-password-reset"],
#admin .edit a[href*="_switch_user"],
#admin .read-only a[href="#cancel-edit"],
#admin .read-only a[href="#save-user"],
#group-manager .edit a[href="#edit-group"],
#group-manager .read-only a[href="#cancel-edit"],
#group-manager .read-only a[href="#save-group"]
{
    display:none;
}

#group-manager th:nth-child(5),
#group-manager td:nth-child(5)
{
    width: 100px;
    text-align: right;
}

#group-manager th:nth-child(4),
#group-manager td:nth-child(4)
{
    width: 50px;
    text-align: center;
}

#add-user .first-name,
#add-user .last-name
{
    margin: 0 -2px;
    padding-right: 2px;
    width: 50%;
    display:inline-block;
}

#add-user .last-name
{
    padding-right:0;
    padding-left:2px;
}

#group-manager .edit a[href="#cancel-edit"],
#group-manager .edit a[href="#save-group"],
#admin .edit a[href="#cancel-edit"],
#admin .edit a[href="#save-user"]
{
    display:inline;
}

#admin.panel-pane
{
    padding-left:20px;
    padding-right:70px;
    width:auto;
    min-width:100%;
    display: inline-block;
}

#admin.all table.results {
    width:3000px;
}

#admin table.results > thead > tr > th:nth-child(28),
#admin table.results > tbody > tr > td:nth-child(28),
#admin table.results > thead > tr > th:nth-child(27),
#admin table.results > tbody > tr > td:nth-child(27),
#admin table.results > thead > tr > th:nth-child(26),
#admin table.results > tbody > tr > td:nth-child(26),
#admin table.results > thead > tr > th:nth-child(25),
#admin table.results > tbody > tr > td:nth-child(25),
#admin table.results > thead > tr > th:nth-child(24),
#admin table.results > tbody > tr > td:nth-child(24),
#admin table.results > thead > tr > th:nth-child(23),
#admin table.results > tbody > tr > td:nth-child(23),
#admin table.results > thead > tr > th:nth-child(22),
#admin table.results > tbody > tr > td:nth-child(22),
#admin table.results > thead > tr > th:nth-child(21),
#admin table.results > tbody > tr > td:nth-child(21),
#admin table.results > thead > tr > th:nth-child(20),
#admin table.results > tbody > tr > td:nth-child(20),
#admin table.results > thead > tr > th:nth-child(19),
#admin table.results > tbody > tr > td:nth-child(19),
#admin table.results > thead > tr > th:nth-child(18),
#admin table.results > tbody > tr > td:nth-child(18),
#admin table.results > thead > tr > th:nth-child(17),
#admin table.results > tbody > tr > td:nth-child(17),
#admin table.results > thead > tr > th:nth-child(16),
#admin table.results > tbody > tr > td:nth-child(16),
#admin table.results > thead > tr > th:nth-child(15),
#admin table.results > tbody > tr > td:nth-child(15),
#admin table.results > thead > tr > th:nth-child(14),
#admin table.results > tbody > tr > td:nth-child(14),
#admin table.results > thead > tr > th:nth-child(13),
#admin table.results > tbody > tr > td:nth-child(13),
#admin table.results > thead > tr > th:nth-child(12),
#admin table.results > tbody > tr > td:nth-child(12)
{
    display:none;
}

#admin.all table.results > thead > tr > th:nth-child(29),
#admin.all table.results > tbody > tr > td:nth-child(29),
#admin.all table.results > thead > tr > th:nth-child(28),
#admin.all table.results > tbody > tr > td:nth-child(28),
#admin.all table.results > thead > tr > th:nth-child(27),
#admin.all table.results > tbody > tr > td:nth-child(27),
#admin.all table.results > thead > tr > th:nth-child(26),
#admin.all table.results > tbody > tr > td:nth-child(26),
#admin.all table.results > thead > tr > th:nth-child(25),
#admin.all table.results > tbody > tr > td:nth-child(25),
#admin.all table.results > thead > tr > th:nth-child(24),
#admin.all table.results > tbody > tr > td:nth-child(24),
#admin.all table.results > thead > tr > th:nth-child(23),
#admin.all table.results > tbody > tr > td:nth-child(23),
#admin.all table.results > thead > tr > th:nth-child(22),
#admin.all table.results > tbody > tr > td:nth-child(22),
#admin.all table.results > thead > tr > th:nth-child(21),
#admin.all table.results > tbody > tr > td:nth-child(21),
#admin.all table.results > thead > tr > th:nth-child(20),
#admin.all table.results > tbody > tr > td:nth-child(20),
#admin.all table.results > thead > tr > th:nth-child(19),
#admin.all table.results > tbody > tr > td:nth-child(19),
#admin.all table.results > thead > tr > th:nth-child(18),
#admin.all table.results > tbody > tr > td:nth-child(18),
#admin.all table.results > thead > tr > th:nth-child(17),
#admin.all table.results > tbody > tr > td:nth-child(17),
#admin.all table.results > thead > tr > th:nth-child(16),
#admin.all table.results > tbody > tr > td:nth-child(16),
#admin.all table.results > thead > tr > th:nth-child(15),
#admin.all table.results > tbody > tr > td:nth-child(15),
#admin.all table.results > thead > tr > th:nth-child(14),
#admin.all table.results > tbody > tr > td:nth-child(14),
#admin.all table.results > thead > tr > th:nth-child(13),
#admin.all table.results > tbody > tr > td:nth-child(13),
#admin.all table.results > thead > tr > th:nth-child(12),
#admin.all table.results > tbody > tr > td:nth-child(12),
#admin.all table.results > thead > tr > th:nth-child(11),
#admin.all table.results > tbody > tr > td:nth-child(11),
#admin.all table.results > thead > tr > th:nth-child(10),
#admin.all table.results > tbody > tr > td:nth-child(10),
#admin.all table.results > thead > tr > th:nth-child(9),
#admin.all table.results > tbody > tr > td:nth-child(9),
#admin.all table.results > thead > tr > th:nth-child(8),
#admin.all table.results > tbody > tr > td:nth-child(8),
#admin.all table.results > thead > tr > th:nth-child(7),
#admin.all table.results > tbody > tr > td:nth-child(7),
#admin.all table.results > thead > tr > th:nth-child(6),
#admin.all table.results > tbody > tr > td:nth-child(6),
#admin.all table.results > thead > tr > th:nth-child(5),
#admin.all table.results > tbody > tr > td:nth-child(5),
#admin.all table.results > thead > tr > th:nth-child(3),
#admin.all table.results > tbody > tr > td:nth-child(3),
#admin.all table.results > thead > tr > th:nth-child(2),
#admin.all table.results > tbody > tr > td:nth-child(2),
#admin.all table.results > thead > tr > th:nth-child(1),
#admin.all table.results > tbody > tr > td:nth-child(1)
{
    width:3.2%;
    text-align: center;
    display:table-cell;
}

#admin.courses table.results > thead > tr > th:nth-child(11),
#admin.courses table.results > tbody > tr > td:nth-child(11),
#admin.courses table.results > thead > tr > th:nth-child(10),
#admin.courses table.results > tbody > tr > td:nth-child(10),
#admin.courses table.results > thead > tr > th:nth-child(9),
#admin.courses table.results > tbody > tr > td:nth-child(9),
#admin.courses table.results > thead > tr > th:nth-child(8),
#admin.courses table.results > tbody > tr > td:nth-child(8),
#admin.courses table.results > thead > tr > th:nth-child(7),
#admin.courses table.results > tbody > tr > td:nth-child(7),
#admin.courses table.results > thead > tr > th:nth-child(6),
#admin.courses table.results > tbody > tr > td:nth-child(6)
{
    display:none;
}

#admin.courses table.results > thead > tr > th:nth-child(28),
#admin.courses table.results > tbody > tr > td:nth-child(28),
#admin.courses table.results > thead > tr > th:nth-child(27),
#admin.courses table.results > tbody > tr > td:nth-child(27),
#admin.courses table.results > thead > tr > th:nth-child(26),
#admin.courses table.results > tbody > tr > td:nth-child(26),
#admin.courses table.results > thead > tr > th:nth-child(25),
#admin.courses table.results > tbody > tr > td:nth-child(25),
#admin.courses table.results > thead > tr > th:nth-child(24),
#admin.courses table.results > tbody > tr > td:nth-child(24),
#admin.courses table.results > thead > tr > th:nth-child(23),
#admin.courses table.results > tbody > tr > td:nth-child(23),
#admin.courses table.results > thead > tr > th:nth-child(22),
#admin.courses table.results > tbody > tr > td:nth-child(22),
#admin.courses table.results > thead > tr > th:nth-child(21),
#admin.courses table.results > tbody > tr > td:nth-child(21),
#admin.courses table.results > thead > tr > th:nth-child(20),
#admin.courses table.results > tbody > tr > td:nth-child(20),
#admin.courses table.results > thead > tr > th:nth-child(19),
#admin.courses table.results > tbody > tr > td:nth-child(19),
#admin.courses table.results > thead > tr > th:nth-child(18),
#admin.courses table.results > tbody > tr > td:nth-child(18),
#admin.courses table.results > thead > tr > th:nth-child(17),
#admin.courses table.results > tbody > tr > td:nth-child(17),
#admin.courses table.results > thead > tr > th:nth-child(16),
#admin.courses table.results > tbody > tr > td:nth-child(16),
#admin.courses table.results > thead > tr > th:nth-child(15),
#admin.courses table.results > tbody > tr > td:nth-child(15),
#admin.courses table.results > thead > tr > th:nth-child(14),
#admin.courses table.results > tbody > tr > td:nth-child(14),
#admin.courses table.results > thead > tr > th:nth-child(13),
#admin.courses table.results > tbody > tr > td:nth-child(13),
#admin.courses table.results > thead > tr > th:nth-child(12),
#admin.courses table.results > tbody > tr > td:nth-child(12)
{
    width:2.8%;
    text-align: center;
    display:table-cell;
}

#admin table.results > thead > tr > th:nth-child(4),
#admin table.results > tbody > tr > td:nth-child(4)
{
    width:10.4%;
}

#group-manager td,
#admin table.results > tbody > tr > td
{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: fixed;
}

#admin table.results > tbody > tr > td.empty
{
    white-space: normal;
}

#group-manager td > *,
#admin table.results > tbody > tr > td > *
{
    vertical-align: middle;
}

#group-manager td .checkbox,
#admin table.results > tbody > tr > td .checkbox {
    margin:0;
}

#group-manager table,
#admin table.results
{
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}

#group-manager tbody td,
#admin table.results > tbody > tr > td
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

#admin .ui-datepicker a[href="#everything"],
#admin .ui-datepicker a[href="#yesterday"],
#admin .ui-datepicker a[href="#week"],
#admin .ui-datepicker a[href="#month"],
#admin .ui-datepicker a[href="#year"]
{
    display:block;
    text-align: left;
    padding-left:10px;
}

#admin .ui-datepicker a[href="#everything"]:hover,
#admin .ui-datepicker a[href="#yesterday"]:hover,
#admin .ui-datepicker a[href="#week"]:hover,
#admin .ui-datepicker a[href="#month"]:hover,
#admin .ui-datepicker a[href="#year"]:hover
{
    background-color: #09B;
    color: #fff;
    font-weight: bold;
}

#group-manager tbody tr:hover:not(.selected):not(.edit) td,
#admin table.results > tbody > tr:hover:not(.selected):not(.edit) td {
    box-shadow: 0 1px 4px rgba(255,255,255,.25);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.50);
}

#admin table.results > thead > tr > th
{
    background:transparent;
    position: relative;
    overflow: hidden;
    padding:5px;
    white-space: nowrap;
    vertical-align: bottom;
}

#admin th.filtered select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#admin table.results > thead > tr > th:nth-child(29),
#admin table.results > tbody > tr > td:nth-child(29),
#admin table.results > thead > tr > th:nth-child(11),
#admin table.results > tbody > tr > td:nth-child(11),
#admin table.results > thead > tr > th:nth-child(10),
#admin table.results > tbody > tr > td:nth-child(10),
#admin table.results > thead > tr > th:nth-child(9),
#admin table.results > tbody > tr > td:nth-child(9),
#admin table.results > thead > tr > th:nth-child(8),
#admin table.results > tbody > tr > td:nth-child(8),
#admin table.results > thead > tr > th:nth-child(7),
#admin table.results > tbody > tr > td:nth-child(7),
#admin table.results > thead > tr > th:nth-child(6),
#admin table.results > tbody > tr > td:nth-child(6),
#admin table.results > thead > tr > th:nth-child(5),
#admin table.results > tbody > tr > td:nth-child(5),
#admin table.results > thead > tr > th:nth-child(3),
#admin table.results > tbody > tr > td:nth-child(3),
#admin table.results > thead > tr > th:nth-child(2),
#admin table.results > tbody > tr > td:nth-child(2),
#admin table.results > thead > tr > th:nth-child(1),
#admin table.results > tbody > tr > td:nth-child(1)
{
    text-align: center;
    width: 8%;
}

#admin table.results > thead > tr > th:nth-child(4),
#admin table.results > tbody > tr > td:nth-child(4)
{
    width: 12%;
}

#admin table.results > tbody > tr > td:nth-child(4) label:nth-child(2),
#admin table.results > tbody > tr > td:nth-child(4) label:nth-child(1)
{
    width:50%;
    margin: 0 -2px;
    padding-left: 2px;
    display:inline-block;
}


#admin table.results > thead > tr > th:nth-child(1),
#admin table.results > thead > tr > th:nth-child(6)
{
    overflow:visible;
}

#admin table.results > thead > tr > th:nth-child(1) .input + div,
#admin table.results > thead > tr > th:nth-child(6) .input + div
{
    position: absolute;
    z-index: 100;
}

#admin table.results > tbody > tr > td:nth-child(4) label:nth-child(2)
{
    padding-left: 0;
    padding-right:2px;
}

#admin table.results .edit td:nth-child(4) label:nth-child(1),
#admin table.results .edit td:nth-child(4) label:nth-child(2)
{
    margin-bottom:5px;
}

#admin table.results > tbody > tr > td:nth-child(4) label:last-child
{
    margin: 0;
}

#admin table.results > tbody > tr > td:nth-child(4) label:last-child input
{
    font-size:12px;
    height:auto;
}

#group-manager td:nth-child(3) label,
#admin table.results > tbody > tr > td:nth-child(3) label,
#admin table.results > tbody > tr > td:nth-child(2) label
{
    display:block;
    min-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
}

#group-manager .read-only td:nth-child(3) input,
#group-manager .read-only td:nth-child(3) input ~ *,
#admin table.results .read-only td:nth-child(3) input,
#admin table.results .read-only td:nth-child(3) input ~ *,
#admin table.results .read-only td:nth-child(2) input,
#admin table.results .read-only td:nth-child(2) input ~ *,
#admin table.results .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked,
#admin table.results .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked ~ *,
#admin table.results .read-only td:nth-child(2) input[value="ROLE_PAID"],
#admin table.results .read-only td:nth-child(2) input[value="ROLE_PAID"] ~ * {
    display:none;
}

#group-manager .read-only td:nth-child(3) input:checked ~ span,
#admin table.results .read-only td:nth-child(3) input:checked ~ span,
#admin table.results .read-only td:nth-child(2) input:checked ~ span
{
    display:inline;
}

#group-manager .read-only textarea
{
    height: 1em;
}

#admin table.results > thead > tr > th:nth-child(29),
#admin table.results > tbody > tr > td:nth-child(29)
{
    text-align: right;
    width: 180px !important;
}

@media all and (max-width:1000px)
{
    
}

@media all and (max-width:700px)
{

}


@media all and (max-width:500px)
{

}
