
#admin .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
}

#admin .paginate {
    display: inline-block;
    width: 300px;
    margin: 0 -4px;
    padding: 0 2px;
    vertical-align: middle;
    text-align: center;
}

#admin .paginate label {
    margin: 0 -50px;
    padding: 0 50px;
    display: inline-block;
}

#admin .paginate input {
    margin-right: -50px;
    padding-right: 50px;
    display:inline-block;
}

#admin .scroller
{
}

#admin .count-bubble
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
    margin: 20px;
    position: relative;
    padding: 30px 0 10px 0;
    display: inline-block;
}

#admin .count-bubble i
{
    font-size: 48px;
    line-height: 110%;
    width:100%;
    display:inline-block;
    text-align: center;
}

#admin .count-bubble small
{
    position:absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left:0;
    padding-top:10px;

}

a[href*="_switch_user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4002px transparent;
}

a[href*="_switch_user"]:hover
{
    background-position: left -4052px;
}

a[href="#confirm-password-reset"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -3902px transparent;
}

a[href="#confirm-password-reset"]:hover
{
    background-position: left -3952px;
}

a[href="#edit-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

a[href="#edit-user"]:hover
{
    background-position: left -1602px;
}

a[href="#confirm-remove-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

a[href="#confirm-remove-user"]:hover
{
    background-position: left -1702px;
}

a[href="#confirm-cancel-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1102px transparent;
}

a[href="#confirm-cancel-user"]:hover
{
    background-position: left -1152px;
}

#admin.panel-pane
{
    padding-left:20px;
    padding-right:70px;
    width:auto;
    min-width:100%;
    display: inline-block;
}

#admin.all table {
    width:3000px;
}

#admin th:nth-child(28),
#admin td:nth-child(28),
#admin th:nth-child(27),
#admin td:nth-child(27),
#admin th:nth-child(26),
#admin td:nth-child(26),
#admin th:nth-child(25),
#admin td:nth-child(25),
#admin th:nth-child(24),
#admin td:nth-child(24),
#admin th:nth-child(23),
#admin td:nth-child(23),
#admin th:nth-child(22),
#admin td:nth-child(22),
#admin th:nth-child(21),
#admin td:nth-child(21),
#admin th:nth-child(20),
#admin td:nth-child(20),
#admin th:nth-child(19),
#admin td:nth-child(19),
#admin th:nth-child(18),
#admin td:nth-child(18),
#admin th:nth-child(17),
#admin td:nth-child(17),
#admin th:nth-child(16),
#admin td:nth-child(16),
#admin th:nth-child(15),
#admin td:nth-child(15),
#admin th:nth-child(14),
#admin td:nth-child(14),
#admin th:nth-child(13),
#admin td:nth-child(13),
#admin th:nth-child(12),
#admin td:nth-child(12)
{
    display:none;
}

#admin.all th:nth-child(29),
#admin.all td:nth-child(29),
#admin.all th:nth-child(28),
#admin.all td:nth-child(28),
#admin.all th:nth-child(27),
#admin.all td:nth-child(27),
#admin.all th:nth-child(26),
#admin.all td:nth-child(26),
#admin.all th:nth-child(25),
#admin.all td:nth-child(25),
#admin.all th:nth-child(24),
#admin.all td:nth-child(24),
#admin.all th:nth-child(23),
#admin.all td:nth-child(23),
#admin.all th:nth-child(22),
#admin.all td:nth-child(22),
#admin.all th:nth-child(21),
#admin.all td:nth-child(21),
#admin.all th:nth-child(20),
#admin.all td:nth-child(20),
#admin.all th:nth-child(19),
#admin.all td:nth-child(19),
#admin.all th:nth-child(18),
#admin.all td:nth-child(18),
#admin.all th:nth-child(17),
#admin.all td:nth-child(17),
#admin.all th:nth-child(16),
#admin.all td:nth-child(16),
#admin.all th:nth-child(15),
#admin.all td:nth-child(15),
#admin.all th:nth-child(14),
#admin.all td:nth-child(14),
#admin.all th:nth-child(13),
#admin.all td:nth-child(13),
#admin.all th:nth-child(12),
#admin.all td:nth-child(12),
#admin.all th:nth-child(11),
#admin.all td:nth-child(11),
#admin.all th:nth-child(10),
#admin.all td:nth-child(10),
#admin.all th:nth-child(9),
#admin.all td:nth-child(9),
#admin.all th:nth-child(8),
#admin.all td:nth-child(8),
#admin.all th:nth-child(7),
#admin.all td:nth-child(7),
#admin.all th:nth-child(6),
#admin.all td:nth-child(6),
#admin.all th:nth-child(5),
#admin.all td:nth-child(5),
#admin.all th:nth-child(3),
#admin.all td:nth-child(3),
#admin.all th:nth-child(2),
#admin.all td:nth-child(2),
#admin.all th:nth-child(1),
#admin.all td:nth-child(1)
{
    width:3.2%;
    text-align: center;
    display:table-cell;
}

#admin.courses th:nth-child(11),
#admin.courses td:nth-child(11),
#admin.courses th:nth-child(10),
#admin.courses td:nth-child(10),
#admin.courses th:nth-child(9),
#admin.courses td:nth-child(9),
#admin.courses th:nth-child(8),
#admin.courses td:nth-child(8),
#admin.courses th:nth-child(7),
#admin.courses td:nth-child(7),
#admin.courses th:nth-child(6),
#admin.courses td:nth-child(6)
{
    display:none;
}

#admin.courses th:nth-child(28),
#admin.courses td:nth-child(28),
#admin.courses th:nth-child(27),
#admin.courses td:nth-child(27),
#admin.courses th:nth-child(26),
#admin.courses td:nth-child(26),
#admin.courses th:nth-child(25),
#admin.courses td:nth-child(25),
#admin.courses th:nth-child(24),
#admin.courses td:nth-child(24),
#admin.courses th:nth-child(23),
#admin.courses td:nth-child(23),
#admin.courses th:nth-child(22),
#admin.courses td:nth-child(22),
#admin.courses th:nth-child(21),
#admin.courses td:nth-child(21),
#admin.courses th:nth-child(20),
#admin.courses td:nth-child(20),
#admin.courses th:nth-child(19),
#admin.courses td:nth-child(19),
#admin.courses th:nth-child(18),
#admin.courses td:nth-child(18),
#admin.courses th:nth-child(17),
#admin.courses td:nth-child(17),
#admin.courses th:nth-child(16),
#admin.courses td:nth-child(16),
#admin.courses th:nth-child(15),
#admin.courses td:nth-child(15),
#admin.courses th:nth-child(14),
#admin.courses td:nth-child(14),
#admin.courses th:nth-child(13),
#admin.courses td:nth-child(13),
#admin.courses th:nth-child(12),
#admin.courses td:nth-child(12)
{
    width:2.8%;
    text-align: center;
    display:table-cell;
}

#admin th:nth-child(4),
#admin td:nth-child(4)
{
    width:10.4%;
}

#admin td
{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: fixed;
}

#admin td.empty
{
    white-space: normal;
}

#admin td > *
{
    vertical-align: middle;
}

#admin td .checkbox {
    margin:0;
}

#admin table
{
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}

#admin .scroller td
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

#admin .scroller tr:hover:not(.selected):not(.edit) td {
    box-shadow: 0 1px 4px rgba(255,255,255,.25);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.50);
}

#admin table th
{
    background:transparent;
    position: relative;
    overflow: hidden;
    padding:5px;
    white-space: nowrap;
    vertical-align: bottom;
}

#admin th.filtered select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#admin th:nth-child(29),
#admin td:nth-child(29),
#admin th:nth-child(11),
#admin td:nth-child(11),
#admin th:nth-child(10),
#admin td:nth-child(10),
#admin th:nth-child(9),
#admin td:nth-child(9),
#admin th:nth-child(8),
#admin td:nth-child(8),
#admin th:nth-child(7),
#admin td:nth-child(7),
#admin th:nth-child(6),
#admin td:nth-child(6),
#admin th:nth-child(5),
#admin td:nth-child(5),
#admin th:nth-child(3),
#admin td:nth-child(3),
#admin th:nth-child(2),
#admin td:nth-child(2),
#admin th:nth-child(1),
#admin td:nth-child(1)
{
    text-align: center;
    width: 8%;
}

#admin th:nth-child(4),
#admin td:nth-child(4)
{
    width: 12%;
}

#admin td:nth-child(4) label:nth-child(1)
{
    width:50%;
    margin-left:-4px;
    padding-left: 4px;
    display:inline-block;
    margin-top:0;
    margin-bottom:0;
}

#admin td:nth-child(3) label,
#admin td:nth-child(2) label
{
    display:block;
    min-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
}

#admin .read-only td:nth-child(3) input,
#admin .read-only td:nth-child(3) input ~ *,
#admin .read-only td:nth-child(2) input,
#admin .read-only td:nth-child(2) input ~ *,
#admin .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked,
#admin .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked ~ *,
#admin .read-only td:nth-child(2) input[value="ROLE_PAID"],
#admin .read-only td:nth-child(2) input[value="ROLE_PAID"] ~ * {
    display:none;
}

#admin .read-only td:nth-child(3) input:checked ~ span,
#admin .read-only td:nth-child(2) input:checked ~ span
{
    display:inline;
}

#admin td:nth-child(4) label:nth-child(2)
{
    width:50%;
    margin-right:-4px;
    padding-right:1px;
    display:inline-block;
    margin-top:0;
    margin-bottom:0;
}

#admin .edit td:nth-child(4) label:nth-child(1),
#admin .edit td:nth-child(4) label:nth-child(2)
{
    margin-bottom:5px;
}

#admin td:nth-child(4) label:last-child
{
    margin: 0;
}

#admin td:nth-child(4) label:last-child input
{
    font-size:12px;
    height:auto;
}


#admin th:nth-child(29),
#admin td:nth-child(29)
{
    text-align: right;
    width: 180px !important;
}

#admin tr.invite-only
{
    opacity: .75;
}

#admin tr.invite-only td:first-child span
{
    background-color: transparent;
}

@media all and (max-width:1000px)
{
    #admin table th:nth-child(5),
    #admin table td:nth-child(5),
    #admin table th:nth-child(4),
    #admin table td:nth-child(4)
    {
        display:none;
    }
}

@media all and (max-width:700px)
{

    #admin td
    {
        padding: 10px;
    }
}


@media all and (max-width:500px)
{
    #admin table th:nth-child(2),
    #admin table td:nth-child(2)
    {
        display:none;
    }
}
