
#emails a[href="#edit-email"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#emails a[href="#edit-email"]:hover
{
    background-position: left -1602px;
}

#emails a[href="#send-email"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4102px transparent;
}

#emails a[href="#send-email"]:hover
{
    background-position: left -4152px;
}

#emails table.templates
{
    width: 100%;
    table-layout: fixed;
}

#send-email .modal-body
{
    padding-bottom: 0;
}

#send-email .preview
{
    min-height: 400px;
}

#send-email .variables
{
    width:100%;
    table-layout: fixed;
}

#send-email .variables td
{
    vertical-align: bottom;
}

#send-email .modal-dialog
{
    width: 800px;
}

.topbar .buttons-container .button.icon-arrow-expand
{
    display:none;
}
