
.course1.step0 ol a {
    display: block;
    padding: 10px 0 10px 50px;
    position: relative;
    font-size: 20px;
}

.course1.step0 ol a:hover,
.course1.step0 ol a:focus,
.course1.step0 ol a:active,
.course1.step0 ol a.active {
    padding-left: 45px;
    background-color: #DDDDDD;
    border-left: 5px solid #555555;
    transition: background-color ease-in-out .15s;
}

.course1.step0 ol a:hover span,
.course1.step0 ol a:focus span,
.course1.step0 ol a:active span,
.course1.step0 ol a.active span {
    left: -5px;
}

.course1.step0 ol {
    list-style: none none;
    padding: 0;
    width:40%;
    display:inline-block;
    vertical-align: middle;
    margin: 40px 10% 0 -2px;
}

.course1 .highlighted-link
{
    margin:40px 0 0 0;
}

.course1.step0 .highlighted-link
{
    margin:40px 0 20px 50%;
    text-align: center;
}

.course1.step0 ol li {
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

.course1.step0 ol span {
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    color: #555555;
    padding: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    min-width: 40px;
    font-style: italic;
}

.course1.step0 .player-divider
{
    width:50%;
    display:inline-block;
    vertical-align: middle;
    margin: 40px -2px 0;
    padding-right:20px;
}

.course1.step2 .results,
.course1.step2 .questions
{
    width: 50%;
    margin: 0 -2px;
    display:inline-block;
    vertical-align: top;
}

.course1.step2 h3
{
    border-bottom:1px solid #555555;
    padding-right:50%;
}

.course1.step2 h3 span
{
    width: 100%;
    float: right;
    margin-right: -100%;
    text-align: left;
    padding-left:20px;
}

.course1.step2 .answer
{
    display:none;
}

.course1.step2 .questions
{
    padding-right:20px;
}

.course1.step2 .results
{
    padding-left:20px;
    display:none;
}

.course1.step2.right .answer,
.course1.step2.right .results
{
    display:inline-block;
}

.course1.step2 label
{
    padding-left:40px;
    display: block;
    position: relative;
}

#lesson2-step2 label.input span
{
    position:absolute;
    left:0;
    top:50%;
    margin-top:-12px;
}

.course1.step2 label i
{
    margin-left:-40px;
    margin-right:20px;
}

.course1.step2 .highlighted-link
{
    margin-left:50%;
}

.course1.step2 .highlighted-link a:not([href="#submit-quiz"])
{
    display:none;
}

.course1.step2.right .highlighted-link
{
}

.course1.step2.right .highlighted-link a[href="#submit-quiz"]
{
    display:none;
}

.course1.step2.right .highlighted-link a:not([href="#submit-quiz"])
{
    display:inline-block;
}

.course1.step3 .highlighted-link
{
    padding-right:20px;
    padding-bottom:20px;
}

.course1 .tab-tracker
{
    list-style: none;
    font-size: 40px;
    position:absolute;
    bottom:20px;
    left:20px;
}

.course1 .tab-tracker li
{
    list-style: none;
    display: inline-block;
    margin:10px;
    vertical-align: middle;
}

#lesson1 .tab-tracker li:first-child,
#lesson1-step1 .tab-tracker li:nth-child(2),
#lesson1-step2 .tab-tracker li:nth-child(3),
#lesson1-step3 .tab-tracker li:nth-child(4),
#lesson1-step4 .tab-tracker li:nth-child(5),
#lesson2 .tab-tracker li:first-child,
#lesson2-step1 .tab-tracker li:nth-child(2),
#lesson2-step2 .tab-tracker li:nth-child(3),
#lesson2-step3 .tab-tracker li:nth-child(4),
#lesson2-step4 .tab-tracker li:nth-child(5)
{
    font-size: 60px;
    color: #0099BB;
}

.course1.step4 .grid_6
{
    display:inline-block;
    width:60%;
    margin:0 -2px;
    vertical-align: top;
    padding-right:100px;
}

.course1.step4 .grid_6 + .grid_6
{
    padding-right:50px;
    padding-left:50px;
    width:40%;
}

.course1.step4 .highlighted-link
{
    margin-top:0;
}

.course1.step4 .grid_6 img
{
    width: 100%;
}

#new-award
{
    padding:0;
}

#new-award > div
{
    background:url(../images/award_background.png) no-repeat 50% 0 transparent;
    border-radius: 10px;
    padding:0;
    min-height: 400px;
    text-align: center;
}

#new-award .badge
{
    background:url("../images/awards_compressed.png") no-repeat scroll 0 -150px transparent;
    display:block;
    width:150px;
    height:150px;
    position:absolute;
    left:50%;
    top:150px;
    margin-left: -75px;
}

#new-award p:last-child
{
    margin-bottom: 0;
}

#new-award .description
{
    margin: 320px auto 0 auto;
    display:inline-block !important;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width:650px;
}

#new-award .description,
#new-award .description *
{
    text-align: center !important;
}


#new-award .badge.setup-pulse,
.page-dashboard .awards > a.awarded[href="#setup-pulse"] span
{
    background-position:0 -150px;
}

#new-award .badge.setup-linked,
.page-dashboard .awards > a.awarded[href="#setup-linked"] span
{
    background-position:0 -300px;
}

#new-award .badge.setup-hours,
.page-dashboard .awards > a.awarded[href="#setup-hours"] span
{
    background-position:0 -450px;
}

#new-award .badge.setup-milestone,
.page-dashboard .awards > a.awarded[href="#setup-milestone"] span
{
    background-position:0 -600px;
}

#new-award .badge.setup-outcome,
.page-dashboard .awards > a.awarded[href="#setup-outcome"] span
{
    background-position:0 -750px;
}

#new-award .badge.beginner-checkin,
.page-dashboard .awards > a.awarded[href="#beginner-checkin"] span
{
    background-position:0 -1200px;
}

#new-award .badge.beginner-checklist,
.page-dashboard .awards > a.awarded[href="#beginner-checklist"] span
{
    background-position:0 -900px;
}

#new-award .badge.beginner-commuter,
.page-dashboard .awards > a.awarded[href="#beginner-commuter"] span
{
    background-position:0 -1050px;
}

#new-award .badge.beginner-mix,
.page-dashboard .awards > a.awarded[href="#beginner-mix"] span
{
    background-position:0 -1650px;
}

#new-award .badge.beginner-breaks,
.page-dashboard .awards > a.awarded[href="#beginner-breaks"] span
{
    background-position:0 -1800px;
}

#new-award .badge.beginner-brain,
.page-dashboard .awards > a.awarded[href="#beginner-brain"] span
{
    background-position:0 -1950px;
}

#new-award .badge.beginner-cram,
.page-dashboard .awards > a.awarded[href="#beginner-cram"] span
{
    background-position:0 -2100px;
}

#new-award .badge.beginner-sponsored,
.page-dashboard .awards > a.awarded[href="#beginner-sponsored"] span
{
    background-position:0 -2250px;
}

#new-award .badge.beginner-chicken,
.page-dashboard .awards > a.awarded[href="#beginner-chicken"] span
{
    background-position:0 -2400px;
}

#new-award .badge.beginner-apples,
.page-dashboard .awards > a.awarded[href="#beginner-apples"] span
{
    background-position:0 -2550px;
}

#new-award .badge.beginner-jackpot,
.page-dashboard .awards > a.awarded[href="#beginner-jackpot"] span
{
    background-position:0 -2700px;
}

#new-award .badge.intermediate-flier,
.page-dashboard .awards > a.awarded[href="#intermediate-flier"] span
{
    background-position:0 -1350px;
}

#new-award .badge.intermediate-cross,
.page-dashboard .awards > a.awarded[href="#intermediate-cross"] span
{
    background-position:0 -2850px;
}

#new-award .badge.intermediate-breaker,
.page-dashboard .awards > a.awarded[href="#intermediate-breaker"] span
{
    background-position:0 -3300px;
}

#new-award .badge.intermediate-cured,
.page-dashboard .awards > a.awarded[href="#intermediate-cured"] span
{
    background-position:0 -3450px;
}

#new-award .badge.intermediate-disco,
.page-dashboard .awards > a.awarded[href="#intermediate-disco"] span
{
    background-position:0 -3600px;
}

#new-award .badge.intermediate-high,
.page-dashboard .awards > a.awarded[href="#intermediate-high"] span
{
    background-position:0 -3750px;
}

#new-award .badge.advanced-magellan,
.page-dashboard .awards > a.awarded[href="#advanced-magellan"] span
{
    background-position:0 -1500px;
}

#new-award .badge.advanced-bo,
.page-dashboard .awards > a.awarded[href="#advanced-bo"] span
{
    background-position:0 -3150px;
}

#new-award .badge.advanced-comber,
.page-dashboard .awards > a.awarded[href="#advanced-comber"] span
{
    background-position:0 -3000px;
}

#new-award .badge.advanced-nocram,
.page-dashboard .awards > a.awarded[href="#advanced-nocram"] span
{
    background-position:0 -3900px;
}

#new-award .badge.advanced-magneto,
.page-dashboard .awards > a.awarded[href="#advanced-magneto"] span
{
    background-position:0 -4050px;
}

#new-award .badge.advanced-wall,
.page-dashboard .awards > a.awarded[href="#advanced-wall"] span
{
    background-position:0 -4200px;
}

#new-award .badge.advanced-veni,
.page-dashboard .awards > a.awarded[href="#advanced-veni"] span
{
    background-position:0 -4350px;
}
