
#site-name a small
{
    font-size:10px;
    line-height: 90%;
}

#site-name a > span
{
    display:none;
}

#site-name img
{
    width: 200px;
    max-width: none;
    max-height: none;
    background: url(../images/tal_logo2_shadow.png) no-repeat 0 0 transparent;
}

#site-name a:hover img
{
    background: none;
}

@media all and (max-width: 500px) {
    #site-name img {
        display: inline-block;
    }
}