
.landing-home .video
{
}

.landing-home .did-you-know
{
    background: url(../images/landing_logo_compressed.png) repeat 50% -50px #999999;
    min-height: 500px;
}

.landing-home .did-you-know > div
{
    padding:100px 0;
}

.landing-home .did-you-know h2,
.landing-home .did-you-know .two h3,
.landing-home .did-you-know .one h3 {
    color:#fff;
}

h2, h3, h4, h5
{
    font-family: inherit;
}

@media all and (max-width: 1200px)
{
    .landing-home .video h1
    {
    }
}